<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title">Centres</h1>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="button is-success" href="centers/add">
        <span class="icon is-small">
          <i class="fa fa-plus"></i>
        </span>
        <span>Ajouter un centre</span>
      </a>
    </div>
  </div>
</nav>

<h2 class="subtitle">{{ filteredCenters.length }} résultats / {{ $ctrl.centers.length }} centres</h2>

<button ng-if="$ctrl.loading" class="button is-loading is-rounded"></button>

<table ng-show="!$ctrl.loading" class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>
        <div ng-click="$ctrl.sort('acronym')" class="sortable">
          Acronyme
          <div class="sorting">
            <div ng-class="{black: $ctrl.orderBy === 'acronym' && $ctrl.orderByAsc}">▲</div>
            <div ng-class="{black: $ctrl.orderBy === 'acronym' && !$ctrl.orderByAsc}">▼</div>
          </div>
        </div>
        <div class="control has-icons-left">
          <input class="input is-small" ng-model="$ctrl.search.acronym">
          <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
        </div>
      </th>
      <th>
        <div ng-click="$ctrl.sort('name')" class="sortable">
          Nom
          <div class="sorting">
            <div ng-class="{black: $ctrl.orderBy === 'name' && $ctrl.orderByAsc}">▲</div>
            <div ng-class="{black: $ctrl.orderBy === 'name' && !$ctrl.orderByAsc}">▼</div>
          </div>
        </div>
        <div class="control has-icons-left">
          <input class="input is-small" ng-model="$ctrl.search.name">
          <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
        </div>
      </th>
      <th>
        Code unité
        <div class="control has-icons-left">
          <input class="input is-small" ng-model="$ctrl.search.code">
          <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
        </div>
      </th>
      <th>Logo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-style="{opacity: center.hidden ? 0.5 : 1}"
        ng-repeat="center in $ctrl.centers | filter:$ctrl.search | orderBy:$ctrl.orderBy:!$ctrl.orderByAsc as filteredCenters track by center.id">
      <td>{{ center.acronym }}</td>
      <td>{{ center.name }}</td>
      <td>{{ center.code }}</td>
      <td class="td-logo">
        <logo center="center"></logo>
      </td>
      <td>
        <a class="button" href="centers/{{ center.id }}">
          <span class="icon is-small">
            <i class="fa fa-pencil"></i>
          </span>
          <span>Modifier centre</span>
        </a>
        <a class="button is-small" href="logos/{{ center.id }}" ng-if="$ctrl.session.email">
          <span class="icon is-small">
            <i class="fa fa-pencil"></i>
          </span>
          <span>Modifier logo</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

