<h1 class="title">Centres {{ $ctrl.centers.length }}</h1>
<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>
        <div class="control has-icons-left">
          <input class="input is-small" placeholder="id" ng-model="$ctrl.search.id">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </th>
      <th>acronyme</th>
      <th>logo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="center in $ctrl.centers | filter:$ctrl.search track by center.id">
      <td>{{ center.id }}</td>
      <td>{{ center.administration['Acronyme (nom court)'] }}</td>
      <td><logo center="center"></logo></td>
      <td>
        <a class="button" href="/centers/{{ center.id }}">
          <span>Modifier</span>
          <span class="icon is-small">
            <i class="fa fa-pencil"></i>
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

