<h1 class="title">Connexion</h1>

<form class="form">
  <div ng-if="$ctrl.error" class="notification is-danger">
    Authentification échouée
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
      <input class="input" type="email" autocomplete="username" autofocus
        ng-model="$ctrl.credentials.email" />
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left">
      <input class="input" type="password" autocomplete="current-password"
        ng-model="$ctrl.credentials.password" />
      <span class="icon is-small is-left">
        <i class="fa fa-key"></i>
      </span>
    </div>
  </div>
  <div class="control">
    <a class="button is-success" ng-click="$ctrl.submit()">
      <span class="icon is-small">
        <i class="fa fa-sign-in"></i>
      </span>
      <span>Connexion</span>
    </a>
  </div>
</form>
