<div ng-repeat="field in $ctrl.fields track by field.key" class="field">

  <label class="label" for="field_{{ field.key }}">{{ field.label }}</label>

  <div class="control has-icons-left" ng-switch on="field.type">


    <input ng-switch-when="boolean" type="checkbox"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />

    <input ng-switch-when="number" type="number" class="input"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />

    <input ng-switch-when="email" type="email" class="input"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />
    <span ng-switch-when="email" class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>

    <input ng-switch-when="url" type="url" class="input"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />
    <span ng-switch-when="url" class="icon is-small is-left">
      <i class="fa fa-link"></i>
    </span>

    <input ng-switch-when="tel" type="tel" class="input"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />
    <span ng-switch-when="tel" class="icon is-small is-left">
      <i class="fa fa-phone"></i>
    </span>

    <!-- just changing the leading icon -->

    <input ng-switch-when="address" type="text" class="input"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />
    <span ng-switch-when="address" class="icon is-small is-left">
      <i class="fa fa-map-signs"></i>
    </span>

    <input ng-switch-when="coords" type="text" class="input"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />
    <span ng-switch-when="coords" class="icon is-small is-left">
      <i class="fa fa-globe"></i>
    </span>

    <input ng-switch-when="person" type="text" class="input"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />
    <span ng-switch-when="person" class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>

    <div class="columns" ng-switch-when="markdown" >
        <div class="column">
          <textarea class="textarea"
            id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]"></textarea>
        </div>

        <div class="column">
          <label class="label">Prévisualisation Markdown</label>
          <div class="content" common-mark="$ctrl.item[field.key]"></div>
        </div>
    </div>

    <div class="block" ng-switch-when="array">

      <div class="block" dragula="'bag'" dragula-model="$ctrl.item[field.key]">
        <div ng-repeat="item in $ctrl.item[field.key]" class="notification">

          <a class="handle">⇅</a>
          <a class="delete" ng-click="$ctrl.deleteField(field.key, $index)"></a>

          <fields-list
            fields="field.fields"
            item="item"></fields-list>

        </div>
      </div>

      <div class="field">
        <a class="button" ng-click="$ctrl.addField(field.key)">
          <span>Ajouter</span>
        </a>
      </div>
    </div>

    <div class="block" ng-switch-when="boolean-item">

      <input type="checkbox"
        id="field_{{ field.key }}" ng-model="$ctrl.item[field.key].enabled" />

      <div class="block" ng-if="$ctrl.item[field.key].enabled">

        <fields-list
          fields="field.fields"
          item="$ctrl.item[field.key]"></fields-list>

      </div>

    </div>

    <ul class="block" ng-switch-when="check-list">

      <li ng-repeat="option in field.options">
        <label>
          <input type="checkbox"
            name="{{ option }}"
            ng-checked="$ctrl.item[field.key].includes(option)"
            ng-click="$ctrl.toggleCheckList(field.key, option)"
            value="{{ option }}" />
          {{ option }}
        </label>
      </li>
    
    </ul>

    <input ng-switch-default class="input"
      id="field_{{ field.key }}" ng-model="$ctrl.item[field.key]" />
    </span>

  </div>
</div>
