# Mac files
.DS_Store

# Node NPM modules
node_modules

# NPM log file
npm-debug.log

# Bower modules
bower_components

# Data
app/data/*.csv
app/data/*.json

# Assets
app/assets

# Generated CSS file
app/style/style.css

# Conf file
app/conf/conf.js

# Back Office artefacts
back-office/bundle.js
webpack.report.html

# Databases
db/mongo
db/redis

# Docker
docker-config.env
docker-compose.yml
config/local.toml

# Logos
app/img/logos
