ADMIN_EMAIL=admin@admin
ADMIN_PASSWORD=admin
PASSWORD_SALT=salt
SESSION_SECRET=secret
MAIL_FROM=cartoscpo.bo@sciences-po.fr
MAILER_SERVICE=SMTP
MAILER_HOST=localhost
MAILER_PORT=25000
BACK_OFFICE_BASEURL=http://localhost/bo/
BACK_OFFICE_BASEHREF=/bo/
