<h1 class="title">{{ $ctrl.center.acronym }}</h1>

<button ng-if="$ctrl.loading" class="button is-loading is-rounded"></button>

<form ng-if="!$ctrl.loading">
  <div class="tabs is-boxed">
    <ul>
      <li ng-repeat="tab in $ctrl.tabs" ng-class="{'is-active': $ctrl.isActive(tab)}">
        <a ng-click="$ctrl.setTab(tab)">{{ tab.label }}</a>
      </li>
    </ul>
  </div>

  <section ng-repeat="tab in $ctrl.tabs" ng-if="$ctrl.tab === tab.id">

    <div ng-repeat="field in $ctrl.fields | filter:{ tab: tab.id }" class="field">
      <label class="label" for="field_{{ field.key }}">{{ field.label }}</label>
      <div class="control" ng-switch on="field.type">
        <textarea id="field_{{ field.key }}" class="textarea"
          ng-switch-when="markdown" class="input" ng-model="$ctrl.center[field.key]"></textarea>
        <input id="field_{{ field.key }}"
          ng-switch-when="boolean" type="checkbox" ng-model="$ctrl.center[field.key]" />
        <input id="field_{{ field.key }}"
          ng-switch-when="number" type="number" class="input" ng-model="$ctrl.center[field.key]" />
        <input id="field_{{ field.key }}"
          ng-switch-when="email" type="email" class="input" ng-model="$ctrl.center[field.key]" />
        <input id="field_{{ field.key }}"
          ng-switch-default class="input" ng-model="$ctrl.center[field.key]" />
      </div>
    </div>

  </section>

	<section class="section">
  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <a class="button is-success" ng-click="$ctrl.submit()">
        <span class="icon is-small">
          <i class="fa fa-check"></i>
        </span>
        <span>Enregistrer</span>
      </a>
    </div>
    <div class="control">
      <a class="button is-outlined" href="/centers">
        <span>Annuler</span>
      </a>
    </div>
  </div>
	</section>
</form>
