<h1 class="title">Modification</h1>
<h2 class="subtitle">
  <div>Créée <span title="{{ $ctrl.modification.createdAt }}">{{ $ctrl.modification.createdAt | timeago }}</span>
  <span ng-if="$ctrl.modification.email">par {{ $ctrl.modification.email }}</span>
  </div>
  <div>
    <span class="tag" ng-class="{
      'is-danger': $ctrl.modification.status === 'rejected',
      'is-success': $ctrl.modification.status === 'accepted'}">
       {{ $ctrl.modification.status }}
    </span>
  </div>
</h2>

<hr/>

<h2 class="subtitle" ng-if="$ctrl.modification.verb === 'update'">
  {{ $ctrl.diffs.length }} champ(s) modifié(s) pour le centre
  <a href="centers/{{$ctrl.center.id}}">{{ $ctrl.center.code }}</a>
</h2>

<h2 class="subtitle" ng-if="$ctrl.modification.verb === 'create'">
  Demande d'ajout d'un centre
</h2>

<h2 class="subtitle" ng-if="$ctrl.modification.verb === 'delete'">
  Demande de suppression du centre
  <a href="centers/{{$ctrl.center.id}}">{{ $ctrl.center.code }}</a>
</h2>

<div ng-repeat="diff in $ctrl.diffs">
  <div ng-if="diff.op === 'replace'">
    <label class="label">{{ diff.label || diff.key }} - modification</label>
    <pre diff left-obj="diff.left" right-obj="diff.right"></pre>
  </div>

  <div ng-if="diff.op === 'add'">
    <label class="label">{{ diff.label || diff.key }} - ajout</label>
    <pre><ins>{{ diff.value | json }}</ins></pre>
  </div>

  <div ng-if="diff.op === 'remove'">
    <label class="label">{{ diff.label || diff.key }} - suppression</label>
    <pre><del>{{ diff.value | json }}</del></pre>
  </div>

</div>

<hr />

<div class="field is-grouped is-grouped-centered" ng-if="$ctrl.modification.status === 'pending'">
  <div class="control">
    <a class="button is-success" ng-click="$ctrl.changeStatus('accepted')">
      <span class="icon is-small">
        <i class="fa fa-thumbs-up"></i>
      </span>
      <span>Accepter</span>
    </a>
  </div>

  <div class="control">
    <a class="button is-outlined" href="modifications">
      <span>Annuler</span>
    </a>
  </div>

  <div class="control">
    <a class="button is-danger" ng-click="$ctrl.changeStatus('rejected')">
      <span class="icon is-small">
        <i class="fa fa-thumbs-down"></i>
      </span>
      <span>Refuser</span>
    </a>
  </div>
</div>

<div ng-if="$ctrl.modification.status !== 'pending'">
  Cette modification a déjà été traitée.
</div>

