<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"
         href="{{menu.url}}"
         ng-class="{'is-active': $ctrl.isActive(menu)}"
         ng-repeat="menu in $ctrl.menus | filter:$ctrl.checkAuth() track by menu.url">
        {{menu.label}}
      </a>
    </div>

    <div ng-if="!$ctrl.session.email" class="navbar-end">
      <a class="navbar-item" href="login">Connexion</a>
    </div>

    <div ng-if="$ctrl.session.email" class="navbar-end">
      <span class="navbar-item">{{ $ctrl.session.email }}</span>
      <a class="navbar-item" ng-click="$ctrl.logout()">Déconnexion</a>
    </div>
  </div>
</nav>

