<h1 class="title">Modifications</h1>
<h2 class="subtitle">{{ filteredModifications.length }} résultats / {{ $ctrl.modifications.length }} modifications</h2>

<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>
        Code Unité
        <div class="control has-icons-left">
          <input class="input is-small" placeholder="code unité" ng-model="$ctrl.search.oldCenter.code">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </th>
      <th>
        Statut
        <div class="control has-icons-left">
          <input class="input is-small" placeholder="status" ng-model="$ctrl.search.status">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </th>
      <th>Email</th>
      <th>Notification demandée</th>
      <th>Créée</th>
      <th>Modifiée</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="modif in $ctrl.modifications| filter:$ctrl.search as filteredModifications">
      <td>{{ modif.oldCenter.code || modif.submittedCenter.code }}</td>
      <td>
        <span class="tag" ng-class="{
          'is-danger': modif.status === 'rejected',
          'is-success': modif.status === 'accepted'}">
           {{ modif.status }}
        </span>
      </td>
      <td>{{ modif.email }}</td>
      <td>{{ modif.notify ? '✔' : '' }}</td>
      <td><span title="{{ modif.createdAt }}">{{ modif.createdAt | timeago }}</span></td>
      <td><span title="{{ modif.updatedAt }}">{{ modif.updatedAt | timeago }}</span></td>
      <td>
        <a ng-if="modif.status === 'pending'" class="button" href="/modifications/{{ modif.id }}">
          <span>Modifier</span>
          <span class="icon is-small">
            <i class="fa fa-pencil"></i>
          </span>
        </a>

        <a ng-if="modif.status !== 'pending'" class="button" href="/modifications/{{ modif.id }}">
          <span>Voir</span>
          <span class="icon is-small">
            <i class="fa fa-eye"></i>
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

