<h1 class="title">Modifications</h1>
<h2 class="subtitle">{{ filteredModifications.length }} / {{ $ctrl.modifications.length }}</h2>

<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>
        <div class="control has-icons-left">
          <input class="input is-small" placeholder="centerId" ng-model="$ctrl.search.centerId">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </th>
      <th>
        <div class="control has-icons-left">
          <input class="input is-small" placeholder="status" ng-model="$ctrl.search.status">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </th>
      <th>Email</th>
      <th>Créée</th>
      <th>Modifiée</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="modif in $ctrl.modifications| filter:$ctrl.search as filteredModifications">
      <td>{{ modif.centerId }}</td>
      <td>{{ modif.status }}</td>
      <td>{{ modif.email }}</td>
      <td><span title="{{ modif.createdAt }}">{{ modif.createdAt | timeago }}</span></td>
      <td><span title="{{ modif.updatedAt }}">{{ modif.updatedAt | timeago }}</span></td>
    </tr>
  </tbody>
</table>

