@import '../../bower_components/bootstrap/less/bootstrap.less';

@font-face {
    font-family: 'ui-grid';
    src: url('../bower_components/angular-ui-grid/ui-grid.ttf') format('ttf'),
         url('../bower_components/angular-ui-grid/ui-grid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
 * Global style
 */
html {
  position: relative;
  min-height: 100%;
  overflow-y:scroll;
}

body {
    font-family: 'Trebuchet MS', 'merriweather', 'Georgia', serif;
    margin-bottom: 60px;
}

h1,h2,h3,h4,h5{
    font-family: 'Trebuchet MS', 'montserrat', 'Arial', sans-serif;
    font-weight: bold;
}

a {
  cursor: pointer;
}

/* 
 * Cover 
 */
#cover {
  position: relative; 
  margin: auto; 
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#textOnImg {
  position: absolute; 
  top: 120px; 
  left: 10px; 
  width: 50%;
  text-align: justify;
  font-size:20px;
}

#textOnImg h1 {
  color:white; 
  font-size:50px; 
  text-align:center;
}

#textOnImg span {
  text-align:center; 
  font-size:18px;
}

#textTitle {
  position: absolute; 
  top: 190px; 
  left: 20px;
  font-size:12px;
}

#textTitle span {
  font-weight:bold;
}

/* 
 * Icons 
 */
.iconPresentation {
  text-align:center;
}

/* zoom buttons */
.zoom {
  float:right;
}

#zoomFrance {
  margin-right:10px;
}

/* 
 * Footer 
 */

#footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  color: white;
  background-color: #5e5e5e;
}

#legal {
  padding-top: 20pc;
  font-size: 20px;
}

.logoFooter {
  width:200px;
}

#footer a:hover {
  color:white;
}

/*
 * Modal
 */

.modal-content{
  border-radius: 0px;
  text-align: center;
}

.modal-footer{
  text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#view{
  padding-top: 50px;
}

body > .container {
  padding: 53px 15px 60px 15px;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*
 * Navbar
 */

#nav .navbar {
  /*background: #CB021A;*/
  background: white;
  border-width: 3px 0 1px 0;
  border-top-color: #222;
  border-bottom-color: red;
  height: 60px;
}

#nav .navbar-brand{
  font-family: 'montserrat', 'Arial', sans-serif;
}

#nav .navbar-nav > li{
  border-left: 1px solid #e7e7e7;
}

#nav .navbar-nav > li:last-child{
  border-right: 1px solid #e7e7e7;
}

#nav .navbar-nav > li > a {
  font-variant: small-caps;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: black;
}

#dLabel{
  font-variant: small-caps;
  letter-spacing: 2px;
  text-transform: lowercase;
  padding-bottom: 15px;
  padding-top: 15px;
}

#nav .navbar-right > li > a, {
  font-family: 'montserrat', 'Arial', sans-serif;
  text-transform: uppercase;
  font-variant: normal;
  font-weight: bold;
  font-size: 0.7em;
}

#nav .navbar-right > li > .translateButtons {
  font-family: 'montserrat', 'Arial', sans-serif;
  text-transform: uppercase;
  font-variant: normal;
  font-weight: bold;
  font-size: 0.7em;
  padding-bottom: 15px;
  padding-top: 15px;
  cursor:pointer;
}

/*
 * Search
 */
#search {
  padding-top: 10px;
  font-size: 30px;
  width: 400px;
}

/*
 * Center navigation
 */

#centerNavigation {
  padding-top: 20px; 
}

#nextCenter {
  float: right;
}

/*
 * Map
 */

 #mapid { 
  height: 500px; 
}

.principal {
  background: green;
  width: 10px;
  height: 10px;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
}

.secondaire {
  background: green;
  width: 10px;
  height: 10px;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  opacity: 0.5;
}

.principal:hover, .secondaire:hover { 
    background-color: yellow;
    font-size: 20px;
} 

.legend, .info
{
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255, 0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 6px 8px;
  width: 180px;
  line-height: 18px;
  color: #555;
}

.legend i
{
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

 /*
  * Liste
  */
  
#listCenters {
  height: 600px;
  overflow: scroll;
}

.centers:hover {
 color: red;
}

.adresses {
  font-size: 16px;
}

/*
 * listAndMap
 */

#listAndMap {
  height: 60%;
}

/*
 * centerDetails
 */

#centerDetails {
  height: 800px;
  width: 100%;
  padding: 20px;
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */
#exTab1 .nav-pills > li {
  border-radius: 0;
  margin:auto;
}

#exTab1 .nav-pills > li > a {
  border-radius: 0;
  width:200px;
  margin:auto;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.tabTitle a{
  width: 200Px;
  font-size: 20px;
  font-style: bold;
  text-align: center;
}

/* 
 * Search
 */

.recherche > h1 {
  font-size: 18px;
}

.recherche > h2 {
  font-size: 16px;
  padding-left: 10px;
}

.recherche > h3 {
  font-size: 14px;
  padding-left: 20px;
}

.colTab {
  padding-left: 40px;
  padding-right: 40px;
}

.disciplinePrincipale {
  font-size: 18px;
  font-weight: bold;
}

.disciplineSecondaire {
  font-size: 16px;
  font-weight: bold;
}

/*
 * Center details
 */

#exTab1 .nav-pills > li {
  border-radius: 0;
  margin:auto;
}

#exTab1 .nav-pills > li > a {
  border-radius: 0;
  width:200px;
  margin:auto;
}

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.selected {
  background-color: #E0E0E0;
}

.highlighted { 
  background: yellow 
}

span.highlight{
  background: #f1c40f;
}

.panesStyle {
  width: 25%;
}

.titleProps {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px grey;
}

.recherche > h1 {
  font-size: 18px;
}

.recherche > h2 {
  font-size: 16px;
  padding-left: 10px;
}

.recherche > h3 {
  font-size: 14px;
  padding-left: 20px;
}

.colTab {
  padding-left: 40px;
  padding-right: 40px;
}

.disciplinePrincipale {
  font-size: 18px;
  font-weight: bold;
}

.disciplineSecondaire {
  font-size: 16px;
  font-weight: bold;
}

#logoCenter {
  width:50%; height:50%; 
  display: block; 
  vertical-align: middle;
  margin-left: auto; 
  margin-right: auto;
}

#ecole {
  border-right:solid 1px black;
  min-height:170px;
}

/*
 * keyWord on center details
 */

.keyWord {
    display: inline-block;
    border: 1px solid #000;
    padding:2px;
    text-align: center;
    margin-left:3px;
    cursor: pointer;
}

.keyWord:hover {
    display: inline-block;
    border: 1px solid #000;
    padding:2px;
    text-align: center;
    margin-left:3px;
    background-color: red;
    color:white;
    cursor: pointer;
  }

/*
 * Grid
 */

.grid {
  width: 100%;
  height: 1000px;
}

/*
 * Cluster on Map
 */

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/* 
 * Cluster color on map
 */

.marker-cluster-small {
  background-color: rgba(253, 156, 115, 0.6);
  }
  
.marker-cluster-small div {
  background-color: rgba(241, 128, 23, 0.6);
  }

.marker-cluster-medium {
  background-color: rgba(253, 156, 115, 0.6);
  }
.marker-cluster-medium div {
  background-color: rgba(241, 128, 23, 0.6);
  }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
  }
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
  }

  /* IE 6-8 fallback colors */
/*.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
  }
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
  }

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
  }
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
  }

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
  }
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}*/

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

.marker-cluster span {
  line-height: 30px;
  }

/*
 * color center on map
 */ 

.small {
  background: #f1c40f;
  width: 10px;
  height: 10px;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
}

.medium {
  background: #e67e22;
  width: 10px;
  height: 10px;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
}

.large {
  background: #d35400;
  width: 10px;
  height: 10px;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
}

.extraLarge {
  background: #e74c3c;
  width: 10px;
  height: 10px;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
}

/*
 * Separation line
 */

.separation {
  background:#e6142d;
  height:1px;

}


