<h1>Team and Legal Notice</h1>
<h2>Project Management</h2>
<ul>
  <li>
    <a
      target="_blank"
      href="http://www.sciencespo.fr/ecole-doctorale/en/content/michael-goudoux"
      >Micha&euml;l Goudoux</a
    >, project manager, reference librarian for political science at&nbsp;<a
      target="_blank"
      href="http://www.sciencespo.fr/bibliotheque/"
      >biblioth&egrave;que de Sciences Po</a
    >.
  </li>
</ul>
<h2>Collection of data</h2>
<ul>
  <li>
    Charlotte Dolez, Senior Lecturer in Political Science, Sciences Po Lyon.
  </li>
  <li>
    Sarah Vincourt, PhD student in Political Science, CESSP, University Paris 1
    Panth&eacute;on-Sorbonne.
  </li>
  <li>
    Faustin Armel Youbi, PhD student in Political Science, ISP, University Paris
    Ouest Nanterre La D&eacute;fense.
  </li>
</ul>
<h2>Development</h2>
<ul>
  <li>
    <a
      target="_blank"
      href="http://www.medialab.sciences-po.fr/fr/people/paul-girard/"
      >Paul Girard</a
    >, technical director of the&nbsp;<a
      target="_blank"
      href="http://www.medialab.sciences-po.fr/fr/"
      >m&eacute;dialab</a
    >.
  </li>
  <li>
    <a
      target="_blank"
      href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/"
      >Gr&eacute;gory Tible</a
    >, developer at&nbsp;<a
      target="_blank"
      href="http://www.medialab.sciences-po.fr/fr/"
      >m&eacute;dialab</a
    >.
  </li>
  <li>
    <a target="_blank" href="https://github.com/annelhote"
      >Anne L&#39;H&ocirc;te</a
    >, developer at
    <a target="_blank" href="http://www.sciencespo.fr/bibliotheque/"
      >biblioth&egrave;que de Sciences Po</a
    >.
  </li>
  <li>
    <a target="_blank" href="https://github.com/Delapouite"
      >Bruno H&eacute;ridet</a
    >, developer&nbsp;at
    <a target="_blank" href="http://byteclub.fr/">ByteClub</a>.
  </li>
</ul>
<h2>Source Code</h2>
<p>
  This project is under license&nbsp;<a
    target="_blank"
    href="https://github.com/SciencesPoDRIS/CartoScPo/blob/master/LICENSE"
    >GNU LGPL</a
  >. The code source is accessible on&nbsp;<a
    target="_blank"
    href="https://github.com/SciencesPoDRIS/CartoScPo"
    >Github</a
  >.
</p>
<h2>Legal Notice</h2>
<h3>The content of this website is provided by</h3>
<p>
  Fondation Nationale des Sciences Politiques (ci-apr&egrave;s &quot;la
  FNSP&quot;), head office located at:
</p>
<p>27, rue Saint Guillaume 75337</p>
<p>Paris Cedex 07</p>
<p>Tel.: 0033 (0)1 45 49 50 50</p>
<p>Fax.: 0033 (0)1 42 22 31 26</p>
<p>webmestre@sciencespo.fr</p>
<p>Num&eacute;ro Siren : 784308249</p>
<p>Num&eacute;ro TVA intracommunautaire : FR27784308249</p>
<h3>Treatment Manager</h3>
<p>
  National Foundation of Political Sciences represented by
  Fr&eacute;d&eacute;ric Mion, Administrator.
</p>
<h3>Director of Publishing and Edition</h3>
<p>
  Fondation Nationale des Sciences Politiques (FNSP), represented by
  Fran&ccedil;ois Cavalier, Director of the Directorate of Resources and
  Scientific Information.
</p>
<h3>Hosting and storage of data</h3>
<p>
  This website is hosted by the Fondation Nationale des Sciences Politiques
  (FNSP), represented by St&eacute;phane Auzanneau, Director of the Information
  Systems Department.
</p>
<p>Sciences Po &ndash; Direction des Syst&egrave;mes d&#39;Information</p>
<p>Code APE : 803Z</p>
<p>27, rue saint Guillaume</p>
<p>75337 Paris cedex 07</p>
<h3>Conditions of access and use</h3>
<p>
  By using this website, you agree to accept all the contractual stipulations of
  the legal notices and general conditions of use of the websites of the
  Sciences Po Library.
</p>
<p>
  If you refuse to accept these terms and conditions, you may not have access to
  the services offered. Contact Sciences Po at the email address
  cnil@sciencespo.fr for more information.
</p>
<p>
  Without limiting the foregoing terms, you formally acknowledge that Sciences
  Po can not be held liable for any harm, of any nature whatsoever, direct or
  indirect, related to
</p>
<p>
  (a) the use of material, information, any other document, service provided and
  / or controlled by a third party operator at Sciences Po, which you would use
  for assistance in the services offered;
</p>
<p>(b) any virus imported or transmitted by you into our system.</p>
<p>
  FNSP makes every effort to provide users with information and / or tools that
  are available and verified. Despite all the care provided, the information is
  provided without warranty of any kind.
</p>
<p>
  They are non-contractual, may contain technical or typographical inaccuracies
  and are subject to change without notice. The FNSP can not be held responsible
  for errors, lack of availability of information, accuracy, updates,
  completeness and / or the presence of a virus on its website.
</p>
<p>
  The FNSP invites users of the site to inform them of any omissions, errors or
  corrections by sending an e-mail to cnil@sciencespo.fr.
</p>
<p>
  Similarly, the FNSP can not be held responsible for any misuse of the service
  by the user or in case of temporary unavailability of the service (case of
  force majeure, maintenance period or technical incident, whatever it is.)
</p>
<p>
  It is expressly understood by the user of this site that under no
  circumstances can the FNSP be held liable for any damage, direct or indirect,
  material or immaterial resulting in particular from the consultation and / or
  use of this website (or other sites linked to it) and any applications for
  download, such as the use of textual or visual information, which could have
  been collected and in particular any financial or commercial loss, loss of
  programs or data in its information system.
</p>
<p>
  By using this site, the user acknowledges having had the opportunity to read
  this warning.
</p>
<p>
  The site user acknowledges having the skills and means necessary to access and
  use this website.
</p>
<p>
  The user of the website acknowledges having verified that the computer
  configuration used contains no viruses and that it is in perfect working
  order.
</p>
<h3>Intellectual property rights</h3>
<p>
  The website, its general structure, as well as the texts, images animated or
  not, sounds, know-how, drawings, graphics (...) and any other element
  composing the site, are the exclusive property of the FNSP.
</p>
<p>
  The same is true of the databases on the website which are protected by the
  provisions of the law of 1 July 1998 transposing in the Intellectual Property
  Code the European Directive of 11 March 1996 on the legal protection of
  databases, and of which the FNSP is a producer.
</p>
<p>
  The brands of the FNSP and its partners, as well as the logos appearing on the
  website, are trademarks (semi-figurative or not) registered.
</p>
<p>
  Any use or reproduction, in whole or in part, of the website, the elements
  that make it up and / or the information contained therein, by any means
  whatsoever, is strictly prohibited and constitutes an infringement sanctioned
  by the Code of intellectual property, except prior written agreement of the
  FNSP.
</p>
<h3>Hypertext links</h3>
<p>
  Our web pages also provide links to other websites for which we are neither
  responsible for their full compliance with public order and morality
  standards, nor for their personal data protection policy.
</p>
<p>
  By accessing another website, via a hypertext link, you agree that this access
  is at your own risk. Consequently, any direct or indirect prejudice resulting
  from your access to another website linked by a hypertext link can not engage
  the responsibility of Sciences Po.
</p>
<h3>Computing and Freedom</h3>
<p>
  Right of access, modification and deletion of personal data concerning
  yourself:
</p>
<p>- by mail: 27, rue Saint Guillaume 75337 Paris Cedex 07</p>
<p>- by e-mail: cnil@sciencespo.fr</p>
