<div class="view-page">
    <div class="container-fluid">
        <h1>A propos</h1>
        <h2>Gestion de projet</h2>
        <ul>
            <li>
                <a href="http://www.sciencespo.fr/ecole-doctorale/en/content/michael-goudoux" target="_blank">Michaël Goudoux</a>, responsable du projet, bibliothécaire référent pour la science politique à la <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank">bibliothèque de Sciences Po</a>.
            </li>
        </ul>
        <h2>Collecte des données</h2>
        <ul>
            <li>
                <a href="http://www.uclouvain.be/charlotte.dolez" target="_blank">Charlotte Dolez</a>, docteure en science politique, chargée de recherches PDR-FNRS à l'Université Catholique de Louvain et chercheure associée au CEE, SciencesPo.
            </li>
            <li>
                Sarah Vincourt, doctorante en science politique, CESSP, Université Paris 1 Panthéon-Sorbonne.
            </li>
            <li>
                <a href="https://www.theses.fr/s107191" target="_blank">Faustin Armel Youbi</a>, doctorant en science politique, ISP, Université Paris Ouest Nanterre La Défense.
            </li>
        </ul>
        <h2>Développement</h2>
        <ul>
            <li>
                <a href="http://www.medialab.sciences-po.fr/fr/people/paul-girard/" target="_blank">Paul Girard</a>, directeur technique du <a href="http://www.medialab.sciences-po.fr/fr/" target="_blank">médialab<a/>.
            </li>
            <li>
                <a href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/" target="_blank">Grégory Tible</a>, développeur au <a href="http://www.medialab.sciences-po.fr/fr/" target="_blank">médialab<a/>.
            </li>
            <li>
                <a href="https://github.com/annelhote" target="_blank">Anne L'Hôte</a>, développeuse à la <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank">bibliothèque de Sciences Po</a>.
            </li>
            <li>
                <a href="https://github.com/Delapouite" target="_blank">Bruno Héridet</a>, développeur à <a href="http://byteclub.fr/" target="_blank">ByteClub</a>.
            </li>
        </ul>
        <h2>Code source</h2>
        <span>Ce projet est développé sous licence <a href="https://github.com/SciencesPoDRIS/CartoScPo/blob/master/LICENSE" target="_blank">GNU LGPL</a>. Le code source est disponible sur <a href="https://github.com/SciencesPoDRIS/CartoScPo" target="_blank">Github</a>.</span>
        <h2>Mentions légales</h2>
        <h3>Le contenu de ce site Internet est fourni par</h3>
        <p>Fondation Nationale des Sciences Politiques (ci-après "la FNSP"), dont le siège est au :</p>
        <p>27, rue Saint Guillaume 75337</p>
        <p>Paris Cedex 07</p>
        <p>Tel. : 0033 (0)1 45 49 50 50</p>
        <p>Fax. : 0033 (0)1 42 22 31 26</p>
        <p>webmestre@sciencespo.fr</p>
        <p>Numéro Siren : 784308249</p>
        <p>Numéro TVA intracommunautaire : FR27784308249</p>
        <h3>Responsable de traitement</h3>
        <p>Fondation Nationale des Sciences Politiques représentée par Frédéric Mion, Administrateur.</p>
        <h3>Directeur de la publication et de l'édition</h3>
        <p>Fondation Nationale des Sciences Politiques, représentée par François Cavalier, Directeur de la Direction des Ressources et de l'Information Scientifique.</p>
        <h3>Hébergement et stockage des données</h3>
        <p>Ce site internet est hébergé par la Fondation Nationale des Sciences Politiques (FNSP), représentée par Stéphane Auzanneau, Directeur de la Direction des Systèmes d'Information.</p>
        <p>Sciences Po – Direction des Systèmes d'Information</p>
        <p>Code APE : 803Z</p>
        <p>27, rue saint Guillaume</p>
        <p>75337 Paris cedex 07</p>
        <h3>Conditions d'accès et d'utilisation</h3>
        <p>En utilisant ce site web, vous reconnaissez accepter toutes les stipulations des mentions légales et conditions générales d'utilisation des sites de la Bibliothèque de Sciences Po.</p>
        <p>Si vous refusez d'accepter les présentes conditions générales, vous ne pouvez pas avoir accès aux services proposés. Contactez Sciences Po à l'adresse mail cnil@sciencespo.fr pour plus d'information.</p>
        <p>Sans limitation des termes précédents, vous reconnaissez formellement que Sciences Po ne pourra être tenu responsable d'aucun préjudice, de quelque nature que ce soit, direct ou indirect, lié à</p>
        <p>(a) l'utilisation de matériel, informations, tout autre document, service fourni et/ou contrôlé par un opérateur tiers à Sciences Po, auquel vous auriez recours pour vous assister dans les services proposés;</p>
        <p>(b) tout virus importé ou transmis par vos soins dans notre système.</p>
        <p>La FNSP met tout en œuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et vérifiés. Malgré tous les soins apportés, les informations sont fournies sans garantie d'aucune sorte.</p>
        <p>Elles sont non contractuelles, peuvent contenir des inexactitudes techniques ou typographiques et sont sujettes à modification sans préavis. La FNSP ne saurait être tenue pour responsable des erreurs, d'une absence de disponibilités des informations, exactitudes, mises à jour, complétudes et/ou de la présence d'un virus sur son site.</p>
        <p>La FNSP invite les utilisateurs du site à lui faire part d'éventuelles omissions, erreurs ou corrections, en adressant un courrier électronique à l'adresse cnil@sciencespo.fr.</p>
        <p>De même, la FNSP ne peut être tenue responsable en cas de mauvaise utilisation du service par l'utilisateur ou en cas d'indisponibilité temporaire du service (cas de force majeure, de période de maintenance ou d'incident technique, quel qu'il soit).</p>
        <p>Il est expressément entendu par l'utilisateur de ce site qu'en aucun cas la FNSP ne peut être tenue responsable des dommages quelconques, directs ou indirects, matériels ou immatériels résultant notamment de la consultation et/ou de l'utilisation de ce site web (ou d'autres sites qui lui sont liés) et des éventuelles applications en téléchargement, comme de l'utilisation des informations textuelles ou visuelles, qui auraient pu être recueillies et notamment de tout préjudice financier ou commercial, de pertes de programmes ou de données dans son système d'information.</p>
        <p>En utilisant ce site, l'utilisateur reconnaît avoir eu la possibilité de prendre connaissance de cet avertissement.</p>
        <p>L'utilisateur du site reconnaît disposer de la compétence et des moyens nécessaires pour accéder à et utiliser ce site.</p>
        <p>L'utilisateur du site internet reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu'elle est en parfait état de fonctionnement.</p>
        <h3>Droit de propriété intellectuelle</h3>
        <p>Le site web, sa structure générale, ainsi que les textes, images animées ou non, sons, savoir-faire, dessins, graphismes (…) et tout autre élément composant le site, sont la propriété exclusive de la FNSP.</p>
        <p>Il en est de même des bases de données figurant sur le site web qui sont protégées par les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données, et dont la FNSP est producteur.</p>
        <p>Les marques de la FNSP et de ses partenaires, ainsi que les logos figurant sur le site, sont des marques (semi-figuratives ou non) déposées.</p>
        <p>Toute utilisation ou reproduction, totale ou partielle, du site, des éléments qui le composent et/ou des informations qui y figurent, par quelque procédé que ce soit, est strictement interdite et constitue une contrefaçon sanctionnée par le Code de la propriété intellectuelle, sauf accord préalable et écrit de la FNSP.</p>
        <h3>Les lien hypertextes</h3>
        <p>Nos pages web proposent également des liens vers d'autres sites pour lesquels nous ne sommes responsables ni de leur intégral respect aux normes d'ordre public et bonnes mœurs, d'une part, ni de leur politique de protection des données personnelles ou d'utilisation qui en seraient faites, d'autre part.</p>
        <p>En accédant à un autre site, par l'intermédiaire d'un lien hypertexte, vous acceptez que cet accès s'effectue à vos risques et périls. En conséquence, tout préjudice direct ou indirect résultant de votre accès à un autre site relié par un lien hypertexte ne peut engager la responsabilité de Sciences Po.</p>
        <h3>Informatique et libertés</h3>
        <p>Droit d'accès, modification et suppression des données personnelles vous concernant :</p>
        <p>- par courrier : 27, rue Saint Guillaume 75337 Paris Cedex 07</p>
        <p>- par courrier électronique : cnil@sciencespo.fr</p>
        <br />
    </div>
</div>