<div id="center-list">
    <div class="center-list-item" ng-repeat="center in $ctrl.centers track by center.id">
        <div class="row">
            <div class="col-md-3 text-left">
                <logo org="center"></logo>
            </div>
            <div class="col-md-8">
                <h3 id="center-{{ center.id }}">
                    <span class="center-title" ng-click="$ctrl.toogleCenter(center.id)">
                        <span ng-if="center.acronym">{{ center.acronym }}<br /></span>
                        <span>{{ center.name }}</span>
                    </span>
                </h3>
                <p>{{ center.code | trimStar}}</p>
                <p ng-if="center.updatedAt">
                    <small>Données récoltées en {{center.updatedAt }}</small>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center-detail org="center" expanded="$ctrl.expandedCenters.indexOf(center.id) !== -1"></center-detail>
            </div>
        </div>
    </div>
</div>
