<div id="center-list">
  <div class="center-list-item" ng-repeat="center in $ctrl.centers track by center.id">
    <h3 id="center-{{ center.id }}">
      <a class="center-title" href="#/centers/{{ center.id }}">
        <span>{{center.administration['Intitulé']}}</span>
        <span ng-if="center.administration['Intitulé'] && center.administration['Acronyme (nom court)']"> - </span>
        <span>{{center.administration['Acronyme (nom court)']}}</span>
      </a>
    </h3>
    <div class="row">
      <div class="col-md-8">
        <p>Code unité : {{center.administration['Code Unité']}}</p>
      </div>
      <div class="col-md-3 text-right">
        <logo org="center"></logo>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn" type="button" data-toggle="collapse" data-target="{{ '#see-more-' + center.id }}">Voir plus</button>
        <div class="collapse" id="{{ 'see-more-' + center.id }}">
          <center-detail org="center"></center-detail>
        </div>
      </div>
    </div>
  </div>
</div>

