<div class="view-page">
  <div top-menu class="row">
  </div>
  <div class="container-fluid" style="margin-top:80px;">
  	 <div class="row">
      <div class="col-md-12">
    	 	<h1> Les données </h1>
        <p>Vous pouvez effectuer une recherche sur les données brutes. Elles sont présentées sous forme de tableau avec 4 champs accessibles. La recherche s'effectue néanmoins sur tous les champs disponibles.</p>
    	 	<input id="search" type="text" ng-model="filterText" ng-change="refreshData()" placeholder="Rechercher ..." />
         <button class="btn" ng-click="resetSearch()">
          Annuler la recherche
        </button>
        <button class="btn" ng-click="exportData()" style="float:right;">
          Exporter les données
        </button>
      </div>
  	 </div>

     <br>
     <hr>

  	 <div class="row">
  	 	<div id="grid"  ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
  	 </div>
  </div>
</div>