<div>
  <div class="facet" ng-repeat="facet in $ctrl.facets track by facet.id">
    <h2>{{ facet.label }}</h2>

    <div class="facet-item-list">
      <ul>
        <li
          ng-class="{'facet-item': true, 'facet-item-enabled': item.enabled}"
          ng-repeat="item in facet.items track by item.label"
          ng-click="$ctrl.onToggleItem({ $event: { facet: facet, item: item } })"
        >
          {{ item.label }} - <i>{{ item.count }}</i>

          <span
            class="facet-item-remove"
            ng-show="item.enabled"
            title="Remove facet item"
            >×</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>
