<div class="view-page" ng-model="result">
    <div top-menu class="row">
    </div>
    <div class="container-fluid">
    
     <div class="row">
        <div  class="col-md-6 col-md-offset-3" style="text-align: center;" >
            <h1>Les centres de recherche en science politique en France</h1>
            <p>
                Une étude menée par la bibliothèque de Sciences Po Paris
            </p>
        </div>
    </div>
    <hr>

    <!-- Présentation du site -->
    <div class="row" >
        <div class="col-md-6" style="font-size:18px;">
            Où se fait la recherche en science politique en France? Par qui? Sur quelles
            thématiques? Avec quelles ressources documentaires? Comment est-elle diffusée?
            <br>
            <br>
            C’est d’abord pour répondre à ces questions que cette cartographie des centres de
            recherche a été développée.
            <br><br>
            Ce projet vise à identifier l'ensemble des centres de recherche en science politique et
            de dresser un état des lieux institutionnel et documentaire, exhaustif et mis à jour, de la
            recherche académique en science politique et relations internationales en France. 
            <br><br>
            Porté par la bibliothèque de SciencesPo, il s'inscrit dans le cadre de l’infrastructure CollEX
            (Collections d’excellence – Réseau des bibliothèques, dont l’objectif est de coordonner une
            politique patrimoniale sur le territoire).  
            <br><br>
            La liste des centres présentée ici est issue du croisement de l’annuaire ministériel des unité
            de recherche et de l’annuaire du CNRS.
        </div>
         <div class="col-md-6" style="font-size:18px;">
            Nous présentons dans cette première version les données collectées de 61 centres d
            recherche (48 autres centres seront traités en 2016/2017)
            <br>
            <br>
            Vous pouvez effectuer vos recherches sur cette liste ou naviguer grâce à la carte
            Chaque centre dispose d’une fiche détaillée autour de 4 axes :
            <br>
            <br>
            * description administrative : localisation, rattachements, historique, effectifs, écoles
            doctorales.
            <br>
            * thématiques de recherche : disciplines, axes et programmes de recherche,
            séminaires, réseaux.
            <br>
            * publications et données de la recherche : collections et revues, valorisation,
            archivage des données.
            <br>
            * ressources documentaires : ressources numériques, bibliothèques utilisées,
            centres de documentations, réseaux.
            <br>
            <br>
            L’ensemble des données présentées sont téléchargeables librement. (LIEN VERS PAGE
            DONNEES)
        </div>
    </div>
    <br>
    <hr>
        <p style="font-size:18px;">
            Consultez la présentation détaillée du projet : méthodologie utilisée, informations sur les
            données, leur collecte et leur diffusion, problématiques qui en émergent et développements
            à venir. (LIEN VERS PAGE “METHODO” ou “PROJET”)
            <br>
            Nous souhaitons nous inscrire dans une démarche collaborative afin de faire évoluer au
            mieux cet outil. N’hésitez donc pas à nous contacter ( LIEN VERS PAGE CONTACT).
        </p>
    <br>
    <hr class="separation">

    <!-- Search bar -->
    <div class="row">
        <div  class="col-md-6" >
            <input id="search" type="text" placeholder="Entrez votre recherche ..." ng-model="filterSearch"  typeahead="word for word in allWords | filter:$viewValue:startsWith | limitTo:8">
            <button class="btn  btn-lg" type="submit" ng-click="showNameChanged()">Rechercher</button>
            <button class="btn  btn-lg" type="submit" ng-model="key" ng-click="resetFilter(key)">Annuler</button>
            <p>Nombre de centres trouvés : {{allCenters.length}}</p>
        </div>
        <div class="col-md-6">
            <button class="btn  btn-lg" type="submit" ng-click="initMap()" style="float:right;">Ré-initialiser la carte</button>
            <button class="btn  btn-lg" type="submit" ng-click="zoomFrance()" style="float:right; margin-right:10px;">Zoomer sur la France</button>
        </div>
    </div>

    <hr class="separation">
   
    <div id="listAndMap" class="row">

        <!-- Centers list -->
        <div id="listCenters" class="col-md-6 centersList"  style="padding:0 20px 0">
            <div class="centers {{$index}}" ng-repeat="(keyCenter, value) in allCenters track by $index"  ng-class="{selected : keyCenter === idSelectedCenter}">
                <h3>{{value.center.administration['Intitulé']}} - {{value.center.administration['Sigle ou acronyme']}} </h3>
                <p>{{value.center.administration['Ville']}}</p>
                
                <!-- List of adress -->
                <ul>
                    <li ng-repeat="(keyAdress, item) in value.center.administration['adressesGeo']" ng-if="item.active===true"><a class="adresses" href="" ng-click="displayCenter(keyAdress, value, keyCenter)">{{item.adresse}}</a></li>
                </ul>

                <!-- List of element search -->
                <div ng-if="value.search" >
                    L'élément recherché se trouve dans :
                    <ul>
                        <li ng-repeat="item in value.search"><a href="" ng-click="openSpecificTab(item, keyCenter)">Thème : {{item.tab}} > champs : {{item.prop}}</a></li>
                    </ul>
                </div>
                </br>
            </div>
        </div>

        <!-- Map directive -->
        <div class="col-md-5 col-md-offset-1" style="padding:0 20px 0">
            <leaflet 
                lf-center="center" 
                markers="markers"
                layers="layers"
                event-broadcast="events"
                width="100%" 
                height="600px">
            </leaflet>
        </div>
    </div>

    <hr class="separation">

    <!-- Navigation in list -->
    <div id="centerNavigation" class="row">
        <div class="col-md-4">
            
            <button id="precedentCenter" type="button" class="btn " ng-model="precedentCenter" ng-click="goPrecedentCenter(precedentCenter)"> < {{ precedentCenter.center.administration['Intitulé'] }} - {{ precedentCenter.center.administration['Sigle ou acronyme'] }}</button>
        </div>

            <h3 class="col-md-4" style="text-align:center;">
                {{ currentCenter.center.administration['Intitulé'] }} - {{ currentCenter.center.administration['Sigle ou acronyme'] }}
            </h3>
         <div class="col-md-4">
            
            <button id="nextCenter" type="button" class="btn " ng-model="nextCenter" ng-click="goNextCenter(nextCenter)"> {{nextCenter.center.administration['Intitulé']}} - {{nextCenter.center.administration['Sigle ou acronyme']}}> </button>
         </div>
    </div>

    <hr class="separation">

    <!-- Center details with bootstrap tabs  -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs" id="myTab" ng-show="centerActive">
                <li class="tabTitle description"><a data-target="#description" data-toggle="tab">Description administrative</a></li>
                <li class="tabTitle ecole"><a data-target="#ecole" data-toggle="tab">Ecoles doctorales</a></li>
                <li class="tabTitle recherche"><a data-target="#recherche" data-toggle="tab">Thématiques recherches</a></li>
                <li class="tabTitle publications"><a data-target="#publication" data-toggle="tab">Publications</a></li>
                <li class="tabTitle ressources"><a data-target="#ressources" data-toggle="tab">Ressources documentaires</a></li>
            </ul>
        </div>
    </div>

    <div id="centerDetailsTabs">    
        <div class="tab-content" ng-show="centerActive">
          <div class="row tab-pane administration description administrative" id="description">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-6" >
                        <img style="width:80%;" ng-src="{{link}}">
                    </div>
                    <div class="col-md-6">
                        <p>{{administration['CNRS']}}</p>
                        <p>Année de création : {{administration['Année de création']}}</p>
                        <p>Code unité : {{administration['Code Unité']}}
                        <p>Directeur : {{administration['Directeur']}}</p>
                        <p>Courriel direction : {{administration['Courrier Direction']}}</p>
                        <p>Téléphone : {{administration['Téléphone']}}</p>
                        <p>Site web : {{administration['Site Web']}}</p>
                        <p>Etablissements de rattachement : {{administration['Etablissements de rattachement']}}</p>
                    </div>
                </div>
                <div class="row">
                    <h1 class="titleProps">Personnel</h1>
                    <div class="col-md-6">
                        <p>Effectif total : {{ personnel['Effectif total'] }}</p>
                        <p>Personnels non permanents : {{ personnel['Personnels non permanents'] }}</p>
                        <p>Personnels permanents : {{ personnel['Personnels permanents'] }}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Lien vers la page "personnel" du site Web du CNRS : <a ng-href="{{ personnel['Lien vers la page \"personnel\" du site Web du CNRS'] }}">Lien</a></p>
                        <p>Lien vers la page "personnel" sur le site Web du centre : <a ng-href="{{ personnel['Lien vers la page \"personnel\" sur le site Web du centre'] }}">{{ personnel['Lien vers la page \"personnel\" sur le site Web du centre'] }}</a></p>
                    </div>
                    
                </div>
                <h1 class="titleProps">Historique</h1>
                    <p> {{administration['Historique']}}</p>    
            </div>
          </div>
       
          <div class="tab-pane ecole col-md-6 col-md-offset-3" id="ecole">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="titleProps">Liste des écoles doctorales</h1>
                    <p>Intitulé Ecole Doctorale : {{ ecole['Intitulé Ecole Doctorale'] }}</p>
                    <p>Numéro d'Ecole Doctorale : {{ ecole['Numéro d\'Ecole Doctorale']}}</p>
                    <p>Directeur école doctorale : {{ ecole['Directeur de l\'Ecole Doctorale'] }}</p>
                    <p>Courriel de l'Ecole doctorale : {{ ecole['Courriel de l\'Ecole doctorale'] }}</p>
                    
                </div>
                <div class="col-md-12">
                    <h1 class="titleProps">Nombre de doctorants et thèses du centre</h1>
                    <p>Nombre de doctorants : {{ ecole['Nombre de doctorants'] }}</p>
                    <p>Nombre de doctorants en science politique : {{ ecole['Nombre de doctorants en science politique'] }}</p>
                    <p>Nombre de thèses soutenues en 2015 : {{ ecole['Nombre de thèses soutenues en 2015'] }}</p>  
                </div>
            </div>
          </div>

          <div class="tab-pane recherche" id="recherche">
             <div class="row">
                <div class="col-md-6 colTab" >

                    <h1 class="titleProps">Sections CNRS</h1>
                        {{section}}

                    <h1 class="titleProps">Annuaire du MENESR</h1>

                        <h2 class="disciplinePrincipale"> {{ recherche['Discipline principale selon l\'annuaire du MENESR'] }}</h2>

                        <h2 class="disciplineSecondaire"> {{ recherche['Disciplines secondaires selon l\'annuaire du MENESR'] }}</h2>

                    <h1 class="titleProps">Mots-clefs</h1>
                        <div ng-bind-html="highlight(motsClefs, filterSearch)" class="recherche">
                        </div>

                    <h1 class="titleProps">Axes de recherche</h1>
                        <div ng-bind-html="highlight(axes, filterSearch)" class="recherche">
                        </div>

                    <h1 class="titleProps">Contrats de recherche</h1>
                        <div ng-bind-html="highlight(contrats, filterSearch)" class="recherche">
                        </div>


                    
                </div>
                <div class="col-md-6 colTab" >


                    <h1 class="titleProps">Séminaires de recherche</h1>
                        <div ng-bind-html="highlight(seminaires, filterSearch)" class="recherche">
                        </div>

                    <h1 class="titleProps">Collaborations / réseaux</h1>
                        <div ng-bind-html="highlight(collaboration, filterSearch)" class="recherche">
                        </div>
                        
                </div>
            </div>
          </div>

          <div class="tab-pane publication" id="publication">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="titleProps">Archivage des données de la recherche</h1>
                    {{publications['Archivage des données de la recherche : description des projets']}}

                    <h1 class="titleProps">Autres activités éditoriales sur les revues</h1>
                    {{publications['Autres activités éditoriales sur les revues (directeurs de rédaction, membres comités éditoriaux, partenariats...) Garder que directeurs?']}}

                    <h1 class="titleProps">Collections auprès d'éditeurs</h1>
                    {{publications['Collections auprès d\'éditeurs : description']}}

                    <h1 class="titleProps">Revues en propre</h1>
                    {{publications['Revues en propre : description']}}

                    <h1 class="titleProps">Valorisation des publications par le laboratoire</h1>
                    {{publications['Valorisation des publications par le laboratoire']}}
                </div> 
              </div>

          </div>

          <div class="tab-pane ressources" id="ressources">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <h1 class="titleProps">Personne ressource - documentaliste</h1>
                    {{ressources['Personne ressource - documentaliste']}}

                    Site web : {{ressources['Site Web']}}

                    <h1 class="titleProps">Bibliothèques utilisées</h1>
                    {{ressources['Bibliothèques utilisées']}}

                    <h1 class="titleProps">Ressources numériques à disposition des chercheurs</h1>
                    {{ressources['Ressources numériques à disposition des chercheurs']}}
               
                    <h1 class="titleProps">Centre de documentation ou bibliothèque en propre</h1>
                    {{ressources['"Centre de documentation ou bibliothèque en propre :↵Intitulé"']}} : {{ressources['Centre de documentation ou bibliothèque en propre : description et fonds spécifiques']}}

                    <h1 class="titleProps">Politique documentaire</h1>
                    {{ressources['Politique documentaire']}}
                    
                    <h1 class="titleProps">Offre de formations documentaires</h1>
                    {{ressources['Offre de formations documentaires']}}
                </div>
                
              </div>

          </div>
        </div>
        
    </div>
  </div>
</div>

<!-- <div id="footer"> -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-heading">
          Contribute
        </h2>
        <hr>
        <p class="links">
         Share your ideas or issues on : 
         <br>
         <span>
           <a href="https://github.com/SciencesPoDRIS/CartoScPo/issues">https://github.com/medialab/CartoScPo/issues</a>
         </span>     
        </p>
        <br>
        <br>
        <br>
        <h2 class="section-heading">
          Source code
        </h2>
        <hr>
        <p class="links">
         CartoScPo is a website under MIT Licence. 
         <br>
         Source code and documentation available on Github :
         <span>
           <a href="https://github.com/SciencesPoDRIS/CartoScPo">https://github.com/SciencesPoDRIS/CartoScPo</a>
         </span>     
        </p>
      </div>
      <div class="col-md-6">
        <h2 class="section-heading" style="text-align:right;">
          CREDITS
        </h2>
        <hr>
        <a href="http://www.medialab.sciences-po.fr" class="pull-right">
          <img src="./img/logos_centres_de_recherche_jpeg/Médialab.jpg" alt="Sciences Po medialab" style="width:200px;">
        </a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="http://www.sciencespo.fr/bibliotheque/en" class="pull-right">
          <img src="./img/logo_bibliothèque.png" alt="Bibliothèque Sciences Po" style="width:200px;" class="invert">
        </a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="text-align:right; font-weight:bold;">
           <a style="text-align:right; font-weight:bold;" href="https://twitter.com/ScPoBibli">@ScPoBibli</a>
        </p>
        <br>
        <p style="text-align:right; font-weight:bold;">
          <a href="#team" class="portfolio-link" data-toggle="modal">Team's project</a>
        </p>
      </div>
    </div>
  </section>
  <center><a href="#touModal" id="legal" class="portfolio-link" data-toggle="modal">legal notice</a></center>
       <!-- Terms of use Modal -->
    <div class="portfolio-modal modal fade" id="touModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Legal notice</h2>
                            <p class="item-intro text-muted"></p>
                            
                            <p>
                                The contents of this site were supplied by
                            </p>
                            <p>
                                Sciences Po
                                <br>
                                27 rue Saint-Guillaume
                                <br>
                                75337 Paris Cedex 07
                                <br>
                                Tel. : 01 45 49 50 50
                                <br>
                                Fax. : 01 42 22 31 26
                                <br>
                                webmestre ( AT ) sciencespo ( DOT ) fr
                                <br>
                                Contact webmaster : paul.girard ( AT ) sciencespo ( DOT ) fr
                            </p>
                            <h3>Publisher</h3>
                            <p>
                                Frédéric Mion, President of Sciences Po
                            </p>
                            <h3>Hosting</h3>
                            <p>
                                This internet site is hosted by Fondation Nationale des Sciences Politiques (FNSP), Sciences Po - Direction des Systèmes d'Information
                            </p>
                            <p>
                                APE Code: 803Z
                                <br>
                                27, rue saint Guillaume
                                <br>
                                75337 Paris cedex 07
                            </p>
                            <h3>Industrial and Intellectual Property</h3>
                            <p>
                                Except for explicitly licensed elements (website source codes), all information on this web site (text, photos, logos…) is protected by the copyrights held by Sciences Po or their partners.
                                <br>
                                Therefore, the information may not be reproduced, modified, republished, re-aired, translated, distributed or reused in any manner, without the written consent of Sciences Po.
                                <br>
                                The Sciences Po site’s title, concept and form, as well as its content, such as news, descriptions, illustrations and original images and their organisation, and any software compilation, source code and other elements contained on the Sciences Po site are the property of Sciences Po.
                            </p>
                            <h3>Hypertext Links</h3>
                            <p>
                                Our pages also contain links to other sites for which we are in no manner responsible, neither regarding their adhesion to public order or good conduct, on the one hand, nor regarding their personal data privacy policies and use, on the other.
                                <br>
                                By accessing an outside site, through a hypertext link, you accept that this access is carried out at your own risk. Therefore, Sciences Po will in no way be held responsible for any direct or indirect damages resulting from your access to an outside site through a hypertext link.
                            </p>
                            
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close legal notice</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="team" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>RICardo project's team</h3>
                            <ul id="teamList">
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/">Mickaël Goudoux</a>, bibliothècaire référent à la bibliothèque de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/">Anne L'Hôte</a>, développeuse à la bibliothèque de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/paul-girard/">Paul Girard</a>, directeur technique du Medialab de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/">Grégory Tible</a>, développeur au Medialab de Sciences Po
                                </li>
                            </ul>
                            
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close team presentation</button>
                        </div>
                    </div>
                </div>
            </div>
