<div class="view-page">
    <div class="container-fluid">
        <div class="row" style="position: relative">
            <div id="cover">
                <div id="home-text">
                    <div>
                        <h2>La Science Politique en France</h2>
                        <p>
                            Où se fait la recherche en science politique en France ?<br> Sur quelles thématiques ?<br> Avec quelles ressources documentaires ?<br> Comment est-elle diffusée ?
                        </p>
                        <p>
                            <a href="#/centers"><b>Accéder à la cartographie</b></a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="home-content"> 
                 <p>
                    Ce projet vise à <b>identifier les centres de recherche et à dresser un état des lieux institutionnel et documentaire</b> de la recherche académique en science politique et relations internationales en France.
                </p>
                <p>
                    Porté par la <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank">bibliothèque</a> de <a href="http://www.sciencespo.fr/" target="_blank">SciencesPo</a>, il s'inscrit dans le cadre de l’infrastructure <a href="http://www.collex.eu/" target="_blank"><b>CollEx</b></a> (Collections d’Excellence).
                </p>
                <p>
                    En nous appuyant sur une enquête qualitative, nous présentons dans cette première version les données collectées de 61 centres de recherche (48 autres centres seront traités en 2017).
                </p>
                <p>
                    <a href="#/project">Consultez la présentation détaillée du projet</a> : méthodologie utilisée, informations sur les données, leur collecte et leur diffusion, problématiques qui en émergent et développements à venir.
                </p>
                <br />
                <hr />
                <div class="row">
                    <div class="col-md-3 icon-presentation">
                        <i class="fa fa-map-o fa-5x" aria-hidden="true"></i>
                        <p>Naviguez au sein des centres de recherche en science politique grâce à la carte interactive. </p>
                    </div>
                    <div class="col-md-3 icon-presentation">
                        <i class="fa fa-search fa-5x" aria-hidden="true"></i>
                        <p>Effectuez vos recherches sur cette liste par mots-clés. Chaque centre dispose d’une fiche détaillée.</p>
                    </div>
                    <div class="col-md-3 icon-presentation">
                        <i class="fa fa-table fa-5x" aria-hidden="true"></i>
                        <p>L’ensemble des données présentées sont accessibles et <a href="#/centers">téléchargeables librement au format CSV</a>.</p>
                    </div>
                    <div class="col-md-3 icon-presentation">
                        <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
                        <p>Nous souhaitons nous inscrire dans une démarche collaborative et open source afin de faire évoluer au mieux cet outil. N’hésitez donc pas à <a href="#/about">nous contacter</a>.</p>
                    </div>
                </div>
                <hr />
                <p>
                    <b>Quelques exemples d’utilisations possibles</b> :
                    <ul>
                        <li>
                            Vous recherchez quel laboratoire travaille sur les mutations de la participation politique.
                        </li>
                        <li>
                            Vous recherchez quel laboratoire accueillera votre projet de thèse.
                        </li>
                        <li>
                            Vous recherchez quels sont les acteurs et les ressources documentaires de la recherche en science politique près de chez vous.
                        </li>
                        <li>
                            Vous recherchez quelles sont les collections des laboratoires auprès des éditeurs.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>