<div id="cover">
  <div id="home-text">
    <div>
      <h2>Political Science in France</h2>
      <p>
        Where does research in Political Science take place in France ?<br />
        What are the areas of study ? <br />
        With which information resources ? <br />
        How is it shared with the public ?
      </p>
      <p>
        <a href="#/{{ $root.lang }}/centers"
          ><b>Access to the cartography</b></a
        >
      </p>
    </div>
  </div>
</div>
<div id="home-content">
  <p>
    This tool aims at
    <b
      >identifying the research centers and providing an institutional and
      informational review</b
    >
    of academic research in Political Science and International Relations in
    France.
  </p>
  <p>
    Developed by the
    <a href="http://www.sciencespo.fr/bibliotheque/en.html" target="_blank"
      >Sciences Po library</a
    >, it is part of the
    <a href="http://www.collex.eu/" target="_blank"><b>CollEx - Persée</b></a>
    institutional infrastructure (Collections of Excellence for Research) and is
    being administered jointly with the
    <a href="https://www.afsp.info/" target="_blank"
      >Association Française de Science Politique</a
    >
    - French Association of Political Science (AFSP).
  </p>
  <p>
    <a href="#/{{ $root.lang }}/project"
      >For a more detailed look at the project</a
    >
  </p>
  <hr />
  <div class="row">
    <div class="col-md-3 icon-presentation">
      <i class="fa fa-map-o fa-5x" aria-hidden="true"></i>
      <p>
        Navigate through the research centers in political sciences with the
        interactive map.
      </p>
    </div>
    <div class="col-md-3 icon-presentation">
      <i class="fa fa-search fa-5x" aria-hidden="true"></i>
      <p>
        Do your research on this list by keywords. Each center has a detailed
        record.
      </p>
    </div>
    <div class="col-md-3 icon-presentation">
      <i class="fa fa-table fa-5x" aria-hidden="true"></i>
      <p>
        All data presented are freely accessible and
        <a href="#/{{ $root.lang }}/centers">downloadable in CSV format</a>.
      </p>
    </div>
    <div class="col-md-3 icon-presentation">
      <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
      <p>
        We want to be part of a collaborative and open source approach in order
        to improve this tool.
        <a href="{{ $ctrl.boHref }}">Feel free to contribute</a>.
      </p>
    </div>
  </div>
  <hr />
  <p><b>Some examples of possible uses:</b></p>
  <ul>
    <li>
      You would like to know which research center is working on the changes of
      political participation
    </li>
    <li>
      You would like to know which research center could host your thesis
      project
    </li>
    <li>
      You are looking for the actors and library resources in political science
      research near you
    </li>
    <li>
      You are looking for the book collections for which the researchers of a
      center are directors
    </li>
  </ul>
</div>
