<div id="cover">
  <div id="home-text">
    <div>
      <h2>Political Science in France</h2>
      <small>Translation in progress…</small>
      <p>
        Où se fait la recherche en science politique en France ?<br />
        Sur quelles thématiques ?<br />
        Avec quelles ressources documentaires ?<br />
        Comment est-elle diffusée ?
      </p>
      <p>
        <a href="#/centers"><b>Accéder à la cartographie</b></a>
      </p>
    </div>
  </div>
</div>
<div id="home-content">
  <p>
    Cet outil vise à
    <b
      >identifier les centres de recherche et à dresser un état des lieux
      institutionnel et documentaire</b
    >
    de la recherche académique en science politique et relations internationales
    en France.
  </p>
  <p>
    Porté par la
    <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank"
      >bibliothèque</a
    >
    de <a href="http://www.sciencespo.fr/" target="_blank">SciencesPo</a>, il
    s'inscrit dans le cadre de l’infrastructure
    <a href="http://www.collex.eu/" target="_blank"><b>CollEx - Persée</b></a>
    et est administré conjointement avec l’<a
      href="https://www.afsp.info/"
      target="_blank"
      >AFSP</a
    >
    - Association Française de Science Politique.
  </p>
  <p><a href="#/project">Consultez la présentation détaillée du projet</a></p>
  <hr />
  <div class="row">
    <div class="col-md-3 icon-presentation">
      <i class="fa fa-map-o fa-5x" aria-hidden="true"></i>
      <p>
        Naviguez au sein des centres de recherche en science politique grâce à
        la carte interactive.
      </p>
    </div>
    <div class="col-md-3 icon-presentation">
      <i class="fa fa-search fa-5x" aria-hidden="true"></i>
      <p>
        Effectuez vos recherches sur cette liste par mots-clés. Chaque centre
        dispose d’une fiche détaillée.
      </p>
    </div>
    <div class="col-md-3 icon-presentation">
      <i class="fa fa-table fa-5x" aria-hidden="true"></i>
      <p>
        L’ensemble des données présentées sont accessibles et
        <a href="#/centers">téléchargeables librement au format CSV</a>.
      </p>
    </div>
    <div class="col-md-3 icon-presentation">
      <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
      <p>
        Nous souhaitons nous inscrire dans une démarche collaborative et open
        source afin de faire évoluer au mieux cet outil.
        <a href="{{ $ctrl.boHref }}">N’hésitez pas à contribuer</a>.
      </p>
    </div>
  </div>
  <hr />
  <p><b>Quelques exemples d’utilisations possibles</b> :</p>
  <ul>
    <li>
      Vous recherchez quel laboratoire travaille sur les mutations de la
      participation politique.
    </li>
    <li>Vous recherchez quel laboratoire accueillera votre projet de thèse.</li>
    <li>
      Vous recherchez quels sont les acteurs et les ressources documentaires de
      la recherche en science politique près de chez vous.
    </li>
    <li>
      Vous recherchez quelles sont les collections des laboratoires auprès des
      éditeurs.
    </li>
  </ul>
</div>
