<div class="view-page">
  <div top-menu class="row">
  </div>
  <div class="container-fluid" style="margin-top:80px;">
    	 	<h1> Projet </h1>

        La Bibliothèque de Sciences Po est CADIST  (Centres d'Acquisition et de Diffusion de l'Information Scientifique et Technique) en science politique depuis 1982.
     <div class="row">
        <div class="col-md-6">
          
          <h2>Quoi : Présentation de la bibliothèque de Sciences Po et de l’infrastructure Collex.</h2>
          <br>
          La Bibliothèque de Sciences Po est CADIST en science politique depuis 1982.
          A ce titre elle a pour missions l'acquisition, la conservation et la diffusion de la documentation dans cette discipline : documents de niveau recherche, français et étrangers, sur tous supports.
          <br><br>
          Créés depuis 1980, les CADIST (Centres d'Acquisition et de Diffusion de l'Information Scientifique et Technique) constituent un réseau documentaire -  organisé par disciplines - de bibliothèques spécialisées au service de la recherche.
          <br><br>
          <h2>Pourquoi : Justification de ce travail. Pourquoi un tel travail a été entrepris.</h2> 
          <br>
          Les trois derniers axes sont évidemment ceux que nous privilégions, car c’est l’apport le plus original, et mis en relation avec les autres axes, il permet de mieux saisir les pratiques et les besoins documentaires de la recherche en Science Politique.
          <br>
          Cela nous permettra d’ajuster les politiques d’acquisitions en fonction des besoins et des nouvelles orientations de la recherche et de négocier avec les éditeurs pour les droits d’accès aux ressources numériques. 
          <br>
          Saisir la « communauté » de chercheurs de la discipline est un préalable aux projets d’évolution des outils et des services d’une bibliothèque CADIST à destination de celle-ci. 

        </div>
        <div class="col-md-6">
          <h2>A quelles questions ce site répond-il ?</h2>
          <br>
          Méthodo : Explications de la méthodologie utilisée : pour la sélection des centres, pour la récolte (détails pour chaque champs) et le nettoyage des données.
          <br><br>
          Hypothèses et premières analyses. Dvpt à venir. (diachronique)
          
          Auteurs : Equipe constituée autour de ce projet.
          <br><br>
          DIFFUSION Download dataset : Mise à disposition des données complètes exposées sous la forme d’un lien de téléchargement des données au format CSV.
          Textes d’accompagnement sur la diffusion des données
          Texte d'explications de la page données = on télécharge l'ensemble des données et 4 champs de recherche
          <br><br>
          La décision du Ministère de l'enseignement supérieur, en juin 2014, de modifier les missions des CADIST (Centres d'Acquisition et de Diffusion de l'Information Scientifique et Technique) et d'attribuer une dotation de base, complétée par une subvention sur projets, nous a incités à proposer comme projet de développement l'établissement d'une cartographie des unités de recherche en Science Politique. 
          <br><br>
          Ce projet vise à d'identifier l'ensemble des centres de recherche en science politique et de dresser un état des lieux institutionnel et documentaire, exhaustif et mis à jour, de la recherche académique en science politique et relations internationales en France. 
          <br><br>
          Le projet a été validé par le Comité de réflexion sur la Science Politique de la  Direction scientifique de Sciences Po et par le Ministère et se situe dans le cadre de l’infrastructure CollEX (Collections d’excellence – Réseau des bibliothèques, dont l’objectif est de coordonner une politique patrimoniale sur le territoire).  
          <br>

        </div>

        <div class="col-md-6">
          <h2>Réalisation du projet :</h2>
          <br>
          Nous avons élaboré la liste des centres à partir du croisement de l’annuaire ministériel des unités de recherche et de l’annuaire du CNRS.
          <br><br>
          Nous avons convenu de collecter les données sur cinq axes :
          institutionnel (description administrative, personnel de recherche…)
          enseignements et Ecoles doctorales
          thématiques de recherche (axes et programmes de recherche, séminaires, réseaux...)
          publications et données de la recherche
          ressources documentaires (ressources numériques, niches documentaires, réseaux,…)
          <br><br>
          Les trois derniers axes sont évidemment ceux que nous privilégons,  car c’est l’apport le plus original, et mis en relation avec les autres axes, il permet de mieux saisir les pratiques et les besoins documentaires de la recherche en Science Politique.
          Cela nous permettra d’ajuster les politiques d’acquisitions en fonction des besoins et des nouvelles orientations de la recherche et de négocier avec les éditeurs pour les droits d’accès aux ressources numériques. Saisir la « communauté » de chercheurs de la discipline est un préalable aux projets d’évolution des outils et des services d’une bibliothèque CADIST à destination de celle-ci. 
          
        </div>
        <div class="col-md-6">
          <h2>Diffusion :</h2> 
          <br>
          Cette cartographie pourrait se révéler également intéressante pour les acteurs de ces différents centres et accroître leur visibilité. Elle sera alors consultable sur le site de CollEX après sa création. 

        </div>
  	 </div>  	 
  </div>
</div>