<div class="navbar navbar-default navbar-fixed-top container-fluid row" role="navigation">
  <a class="navbar-brand navbar-right col-md-2 col-lg-4" href="http://www.sciencespo.fr/bibliotheque/fr" >
    <img id="logo-bib" src="img/logo_bibliothèque.png" alt="Sciences Po Bibliothèque" >
  </a>
  <ul class="nav navbar-nav">
    <li><a href="#/">
      <i class="fa fa-home" aria-hidden="true"></i>
    </a></li>
    <li ng-repeat="view in $ctrl.views" ng-class="{ active: $ctrl.isActive(view)}">
      <a href="#/{{view.slug}}">{{view.label}}</a>
    </li>
  </ul>
</div>
