<div class="navbar navbar-default navbar-fixed-top container-fluid row">
  <a
    class="navbar-brand col-md-2 col-lg-2"
    href="http://www.sciencespo.fr/bibliotheque/fr"
    target="_blank"
  >
    <img
      id="logo-bib"
      src="img/logo_bibliotheque.png"
      alt="{{ 'LOGO_LIBRARY_ALT' | translate }}"
    />
  </a>
  <div class="navbar-brand col-md-8 col-lg-8 title">
    <a href="/{{ $root.lang }}/" translate>TITLE</a>
  </div>
  <a
    class="navbar-brand col-md-2 col-lg-2"
    href="http://www.collex.eu/"
    target="_blank"
  >
    <img id="logo-bib" src="img/logo_collex.png" alt="Collex" />
  </a>
</div>
<div class="navbar navbar-default navbar-fixed-top container-fluid row">
  <ul class="nav navbar-nav">
    <li>
      <a href="#/{{ $root.lang }}/">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
    </li>
    <li
      ng-repeat="view in $ctrl.views"
      ng-class="{ active: $ctrl.isActive(view)}"
    >
      <a href="#/{{ $root.lang }}/{{ view.slug }}">{{
        view.label | translate
      }}</a>
    </li>
    <li class="navbar-right" ng-if="$root.lang !== 'fr'">
      <a title="Visiter le site en français" href="#{{ $root.urlToLang('fr') }}"
        >Français</a
      >
    </li>
    <li class="navbar-right" ng-if="$root.lang !== 'en'">
      <a
        title="Browse this website in English"
        href="#{{ $root.urlToLang('en') }}"
        >English</a
      >
    </li>
  </ul>
</div>
