<div class="navbar navbar-default navbar-fixed-top container-fluid row">
    <a class="navbar-brand col-md-2 col-lg-2" href="http://www.sciencespo.fr/bibliotheque/fr" target="_blank">
        <img id="logo-bib" src="img/logo_bibliothèque.png" alt="Sciences Po Bibliothèque">
    </a>
    <div class="navbar-brand col-md-8 col-lg-8 title">
        <a href="/">Cartographie de la Science Politique en France</a>
    </div>
    <a class="navbar-brand col-md-2 col-lg-2" href="http://www.collex.eu/" target="_blank">
        <img id="logo-bib" src="img/logo_collex.png" alt="Collex">
    </a>
</div>
<div class="navbar navbar-default navbar-fixed-top container-fluid row">
    <ul class="nav navbar-nav">
        <li>
            <a href="#/">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </li>
        <li ng-repeat="view in $ctrl.views" ng-class="{ active: $ctrl.isActive(view)}">
            <a href="#/{{view.slug}}">{{view.label}}</a>
        </li>
    </ul>
</div>