<div class="view-page">
    <div class="container-fluid">
        <h1>Projet</h1>
        <p>
            <b>Observer la recherche en science politique d’un point de vue institutionnel et documentaire</b>
        </p>
        <ul class="no-bullet">
            <li>
                1. Objectifs du projet
            </li>
            <li>
                2. Contexte du projet
            </li>
            <li>
                3. Réalisation du projet : méthodologie
                <ul>
                    <li>
                        Construction de la liste des centres
                    </li>
                    <li>
                        Collecte des données
                    </li>
                </ul>
            </li>
            <li>
                4. Description des données : A quelles questions ce site répond-il?
            </li>
            <li>
                5. Diffusion
            </li>
            <li>
                6. Évolutions à venir
            </li>
            <li>
                7. Bibliographie
            </li>
        </ul>
        <h2>
            1. Objectifs du projet : Pourquoi un tel travail a été entrepris
        </h2>
        <p>
            Le premier objectif vise à identifier les centres de recherche de la discipline. Dans un paysage institutionnel segmenté - entre le Ministère de l’Education Nationale de l’Enseignement Supérieur et de la Recherche (MENESR) et le Centre National de la Recherche Scientifique (CNRS) ou entre les Universités et les Instituts d'Etudes Politiques (IEP) - il n’existait pas d’outil commun pour cerner les centres de recherche “appartenant” à la science politique. Établir une telle liste ne va pas sans poser de problèmes et nous détaillerons plus loin dans la partie méthodologique le travail continu d’ajustement qui a été nécessaire et qui se poursuit.
        </p>
        <p>
            Au-delà des centres, il s’agit également d’identifier les personnes (directeurs de laboratoires, directeurs d'Ecoles Doctorales, personnes ressources en documentation). Et ce afin de faciliter la circulation d’information et la constitution de réseaux.
        </p>
        <p>
            Répertorier les thématiques de recherche est un élément central de ce travail qui peut bénéficier au plus grand nombre d’utilisateurs intéressés par la science politique. Il constitue également un élément stratégique d’un point de vue documentaire. Ces données qualitatives recueillies visent à aider à développer une politique documentaire en adéquation avec les axes de recherche en cours, notamment en matière de ressources numériques. Certaines acquisitions de documentation peuvent d’ores et déjà tenir compte des nouvelles thématiques de recherche qui émergent. Une fois complétées et régulièrement mises à jour, elles pourront aider à piloter les abonnements aux ressources numériques.
        </p>
        <p>
            Cette cartographie comporte un important volet documentaire visant à identifier les ressources et pratiques documentaires au sein des centres de recherche. Ainsi, cela permettra de mieux cerner les besoins documentaires et de déployer des services appropriés pour servir la communauté de chercheurs identifiée. Cette dimension documentaire s’explique par le contexte qui a vu naître ce projet.
        </p>
        <h2>
            2. Contexte du projet
        </h2>
        <p>
            Le projet s’inscrit dans l’infrastructure <a href="http://www.collex.eu/" target="_blank">CollEx</a> (« Collections d’Excellence »), dispositif national de coopération documentaire, né de la nécessité de rénovation des Centres d’Acquisition et de Diffusion de l’Information Scientifique et Technique (<a href="http://www.collex.eu/le-reseau-des-cadist/" target="_blank">CADIST</a>) qui structurent le réseau documentaire de l’Enseignement Supérieur et de la Recherche (ESR) depuis 30 ans, en lien avec l’évolution forte du paysage de l’Information Scientifique et Technique (IST).
        </p>
        <p>
            La <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank">bibliothèque</a> de <a href="http://www.sciencespo.fr/" target="_blank">SciencesPo</a> est CADIST en science politique depuis 1982. A ce titre elle a pour missions l'acquisition, la conservation et la diffusion de la documentation dans cette discipline : documents de niveau recherche, français et étrangers, sur tous supports.
        </p>
        <br />
        <p>
            Ainsi, depuis 2014, la dotation de base habituellement perçue pour l’acquisition a été en partie remplacée par une dotation sur projets. Ces projets se devant d’aller au-delà de l’unique mission d’acquisition en s’inscrivant également dans une démarche de services à la recherche, la bibliothèque de SciencesPo a donc proposé comme projet initial l’élaboration de cette cartographie. Saisir la « communauté » de chercheurs de la discipline est un préalable aux projets d’évolution des outils et des services d’une bibliothèque CADIST ou Collex à destination de celle-ci.
        </p>
        <h2>
            3. Réalisation du projet : méthodologie
        </h2>
        <h3>
            Construction de la liste des centres
        </h3>
        <p>
            La nature plurielle de la science politique se matérialise jusque dans l’orthographe. Pour SciencesPo et l’Ecole libre des sciences politiques, c’est le pluriel qui est utilisé. En revanche lorsque l’on évoque la discipline, c’est le singulier qui est privilégié. C’est aussi le résultat d’une construction intellectuelle et institutionnelle qui s’est démarquée d’autres disciplines (de l’histoire, du droit, et même plus récemment de la philosophie) s’accompagnant d’une inscription de plus en plus importante dans la sociologie et des SHS en général. La place dominante de la sociologie politique au sein de la discipline en témoigne (vous trouverez en fin de cette page une bibliographie sur l’histoire de la science politique, son institutionnalisation et son paysage actuel).
        </p>
        <p>
            L’objet de la discipline n’est donc pas évident et cela se traduit à la fois dans les thématiques de recherche mais aussi dans les difficultés à poser les frontières, y compris institutionnelles, de la discipline.
        </p>
        <p>
            Pris à la fois dans une logique pluridisciplinaire et dans le développement de sous-disciplines de la science politique (relations internationales, politiques publiques, gender studies, etc), il n’est pas étonnant qu’il soit difficile d’en établir les contours.
        </p>
        <p>
            Lors de la mise en place du projet de cartographie des centres de recherche en science politique, nous avons éprouvé le plus grand mal à définir quels centres appartenaient à la discipline. Lors de la récolte des données, certains centres se déclaraient même extérieurs à la discipline. Malgré les critères « objectifs » que nous avons cherchés à utiliser, la définition s’avére subjective.
        </p>
        <br />
        <p>
            Pour établir la liste des centres à traiter, nous avons recoupé :
            <ul>
                <li>
                    La liste des Unités de Recherche, ayant la science politique comme “discipline principale” dans l’”Annuaire des formations doctorales et des unités de recherche” du Ministère de l'éducation nationale, de l'enseignement supérieur et de la recherche
                    <a href="https://appliweb.dgri.education.fr/annuaire/ListeEntite.jsp?entite=ur&sd=35&ordre=dep&prov=ListeSd" target="_blank">https://appliweb.dgri.education.fr/annuaire/ListeEntite.jsp?entite=ur&sd=35&ordre=dep&prov=ListeSd</a> associé avec le “Répertoire National des Structures de Recherche (RNSR) :
                    <a href="https://appliweb.dgri.education.fr/rnsr/ChoixCriteres.jsp?PUBLIC=OK" target="_blank">https://appliweb.dgri.education.fr/rnsr/ChoixCriteres.jsp?PUBLIC=OK</a>
                </li>
                <li>
                    Les centres de recherche de la section 40 “Politique, pouvoir, organisation” de l’”Annuaire des laboratoires et des personnels” du CNRS
                    <a href="https://annuaire.cnrs.fr/l3c/owa/annuaire.recherche/index.html" target="_blank">https://annuaire.cnrs.fr/l3c/owa/annuaire.recherche/index.html</a>
                </li>
                <li>
                    La liste extraite de l’”Annuaire des laboratoires et des personnels” du CNRS pour les centres de recherche qui ont une indexation thématique qui contient : “SC.HS - SCIENCES POLITIQUES”
                    <a href="https://annuaire.cnrs.fr/l3c/owa/annuaire.recherche/index.html" target="_blank">https://annuaire.cnrs.fr/l3c/owa/annuaire.recherche/index.html</a>
                </li>
            </ul>
        </p>
        <p>
            Centres non retenus
            <table>
                <tr>
                    <td>Centre d'études et de documentation juridique, économique et sociale</td>
                    <td>CEDEJ</td>
                </tr>
                <tr>
                    <td>Centre d'études français sur la Chine contemporaine</td>
                    <td>CEFC</td>
                </tr>
                <tr>
                    <td>Centre d'études franco-russe de Moscou</td>
                    <td>CEFR</td>
                </tr>
                <tr>
                    <td>Centre de recherche français de Jérusalem</td>
                    <td>CRFJ</td>
                </tr>
                <tr>
                    <td>Centre français d'archéologie et de sciences sociales</td>
                    <td>CEFAS</td>
                </tr>
                <tr>
                    <td>Centre français d'études éthiopiennes à Addis Abeba</td>
                    <td>CFEE</td>
                </tr>
                <tr>
                    <td>Centre français de recherche en sciences sociales à Prague</td>
                    <td>CEFRES</td>
                </tr>
                <tr>
                    <td>Centre franco-allemand de recherches en sciences sociales de Berlin - Centre Marc Bloch</td>
                    <td>CMB</td>
                </tr>
                <tr>
                    <td>Centre Jacques Berque pour les études en sciences humaines et sociales</td>
                    <td>CESHS</td>
                </tr>
                <tr>
                    <td>Ecologie, systématique et évolution</td>
                    <td>ESE</td>
                </tr>
                <tr>
                    <td>Ecosystèmes continentaux et risques environnementaux</td>
                    <td>ECCOREV</td>
                </tr>
                <tr>
                    <td>Institut de recherche sur l'Asie du Sud-est contemporaine</td>
                    <td>IRASEC</td>
                </tr>
                <tr>
                    <td>Institut de recherche sur le maghreb contemporain</td>
                    <td>IRMC</td>
                </tr>
                <tr>
                    <td>Institut français d'études sur l'Asie centrale</td>
                    <td>IFEAC</td>
                </tr>
                <tr>
                    <td>Institut français de recherche en Afrique de Nairobi</td>
                    <td>IFRA-NAIROBI</td>
                </tr>
                <tr>
                    <td>Institut français de recherche en Iran</td>
                    <td>IFRI</td>
                </tr>
                <tr>
                    <td>Institut français du Proche-Orient</td>
                    <td>IFPO</td>
                </tr>
                <tr>
                    <td>Maison française d'Oxford</td>
                    <td>MFO</td>
                </tr>
            </table>
            <br />
            <ul>
                <li>
                    Les centres présents à l'étranger n'ont pas été conservés. Seuls les centres présents en France ont été conservés.
                </li>
                <li>
                    Pour la Maison des Sciences de l'Homme sur l'environnement, nous n'avons retenu que l'unique centre de recherche en science politique : Centre de recherches juridiques de l'université de Franche-Comté (CRJFC)
                </li>
                <li>
                    Les centres n'ayant pas souhaité apparaître ou n'ayant pas été considérés comme pertinents dans le cadre de la science politique n'ont pas été retenus.
                </li>
                <li>
                    Prochaine version du site : intégration de la liste secondaire l’”Annuaire des formations doctorales et des unités de recherche” du Ministère de l'éducation nationale, de l'enseignement supérieur et de la recherche. C’est à dire ceux ayant la science politique comme “discipline secondaire”. <a href="https://appliweb.dgri.education.fr/annuaire/ListeEntite.jsp?entite=ur&sd=35&ordre=dep&prov=ListeSd" target="_blank">https://appliweb.dgri.education.fr/annuaire/ListeEntite.jsp?entite=ur&sd=35&ordre=dep&prov=ListeSd</a>
                </li>
            </ul>
        </p>
        <br />
        <p>
            Ces centres sont actuellement en traitement
            <table>
                <tr>
                    <td>Bibliothèque des sciences humaines et sociales Descartes</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>Centre Asie du Sud-Est</td>
                    <td>CASE</td>
                </tr>
                <tr>
                    <td>Centre d'analyse et d'intervention sociologiques</td>
                    <td>CADIS</td>
                </tr>
                <tr>
                    <td>Centre d'études constitutionnelles et politiques</td>
                    <td>CECP</td>
                </tr>
                <tr>
                    <td>Centre d’études des mondes russe, caucasien et centre-européen</td>
                    <td>CERCEC</td>
                </tr>
                <tr>
                    <td>Centre d'études et de recherches sur le droit, l'histoire et l'administration publique</td>
                    <td>CERDHAP</td>
                </tr>
                <tr>
                    <td>Centre d'études interdisciplinaires des faits religieux</td>
                    <td>CEIFR</td>
                </tr>
                <tr>
                    <td>Centre d’études Japonaises</td>
                    <td>CEJ</td>
                </tr>
                <tr>
                    <td>Centre d’études Turques, Ottomanes, Balkaniques et Centrasiatiques</td>
                    <td>CETOBAC</td>
                </tr>
                <tr>
                    <td>Centre de recherche et d'étude en droit et science politique</td>
                    <td>CREDESPO</td>
                </tr>
                <tr>
                    <td>Centre de recherche Léon Duguit pour l’étude des nouvelles transformations du droit</td>
                    <td>CRLD</td>
                </tr>
                <tr>
                    <td>Centre de recherche médecine, sciences, santé, santé mentale, société</td>
                    <td>CERMES3</td>
                </tr>
                <tr>
                    <td>Centre de recherches anglophones</td>
                    <td>CREA</td>
                </tr>
                <tr>
                    <td>Centre de recherches Europes-Eurasie</td>
                    <td>CREE</td>
                </tr>
                <tr>
                    <td>Centre de théorie et analyse du droit</td>
                    <td>CTAD</td>
                </tr>
                <tr>
                    <td>Centre européen de recherche sur le droit des accidents collectifs et des catastrophes</td>
                    <td>CERDACC</td>
                </tr>
                <tr>
                    <td>Centre international de recherche sur l’environnement et le développement</td>
                    <td>CIRED</td>
                </tr>
                <tr>
                    <td>Centre Jean Bodin</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>Centre lillois d'études et de recherches sociologiques et économiques</td>
                    <td>CLERSE</td>
                </tr>
                <tr>
                    <td>Centre Michel de l’Hospital</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>Centre population & développement</td>
                    <td>CEPED</td>
                </tr>
                <tr>
                    <td>Collège d'études interdisciplinaires</td>
                    <td>CEI</td>
                </tr>
                <tr>
                    <td>Cultures, environnements, arctique, représentations, climat</td>
                    <td>CEARC</td>
                </tr>
                <tr>
                    <td>Détection, évaluation, gestion des risques chroniques et émergents CHROME Eco-anthropologie et ethnobiologie</td>
                    <td>EAE</td>
                </tr>
                <tr>
                    <td>Epigénétique, données, politique</td>
                    <td>EPIDOPO</td>
                </tr>
                <tr>
                    <td>Ethique, politique et santé</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>Groupe d'études et de recherche sur la coopération internationale et Européenne</td>
                    <td>GERCIE</td>
                </tr>
                <tr>
                    <td>Groupe société, religions, laïcité</td>
                    <td>GSRL</td>
                </tr>
                <tr>
                    <td>Institut de recherche interdisciplinaire en sociologie, économie et science politique</td>
                    <td>IRISSO</td>
                </tr>
                <tr>
                    <td>Laboratoire communication et politique-IRISSO</td>
                    <td>LCP-IRISSO</td>
                </tr>
                <tr>
                    <td>Institut de recherches interdisciplinaires sur les sciences et la technologie</td>
                    <td>IRIST</td>
                </tr>
                <tr>
                    <td>Institut de recherches sur l'évolution de la Nation et de l'Etat</td>
                    <td>IRENEE</td>
                </tr>
                <tr>
                    <td>Institut du développement et de la prospective</td>
                    <td>IDP</td>
                </tr>
                <tr>
                    <td>Institut du droit public et de la science politique</td>
                    <td>IDPSP</td>
                </tr>
                <tr>
                    <td>Institut Marcel Mauss</td>
                    <td>IMM</td>
                </tr>
                <tr>
                    <td>Laboratoire architecture, ville, urbanisme, environnement</td>
                    <td>LAVUE</td>
                </tr>
                <tr>
                    <td>Laboratoire biens, normes, contrats</td>
                    <td>LBNC</td>
                </tr>
                <tr>
                    <td>Laboratoire d’économie des transports</td>
                    <td>LET</td>
                </tr>
                <tr>
                    <td>Laboratoire d'économie et de sociologie du travail</td>
                    <td>LEST</td>
                </tr>
                <tr>
                    <td>Laboratoire d'étude et de recherche sur l'action publique</td>
                    <td>LERAP</td>
                </tr>
                <tr>
                    <td>Laboratoire interdisciplinaire d'étude du politique - Hannah Arendt - Paris-Est (LIPHA Paris-Est) (ex LARGOTEC, et Laboratoire Ethique et politique (EEP) cf données 2014)</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>Laboratoire interdisciplinaire de droit des médias et des mutations sociales</td>
                    <td>LID2MS</td>
                </tr>
                <tr>
                    <td>Laboratoire interdisciplinaire des énergies de demain</td>
                    <td>LIED</td>
                </tr>
                <tr>
                    <td>Patrimoines locaux et gouvernance</td>
                    <td>PALOC</td>
                </tr>
                <tr>
                    <td>Pouchet</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>Sciences économiques et sociales de la santé et traitement de l’information médicale</td>
                    <td>SESSTIM</td>
                </tr>
            </table>
        </p>
        <p>
            Cette liste est évidemment susceptible d’évoluer. Il est aussi possible que nous venions à intégrer ou à retirer des centres qui en feraient la demande. Nous réfléchissons actuellement à la mise en place d’un comité scientifique représentant les différentes institutions et sensibilités de la science politique qui soit chargé notamment de définir au mieux le périmètres des centres traités dans la cartographie.
        </p>
        <h3>
            Collecte des données
        </h3>
        <p>
            La collecte des données a été menée successivement par trois docteurs ou doctorants en science politique suivant une méthode identique.
        </p>
        <p>
            A partir de la liste préétablie, deux techniques complémentaires ont permis de recueillir des informations plus ou moins complètes et détaillées : d’abord la collecte par sites internets dédiés et ensuite la vérification des données collectées par des entretiens téléphoniques (pour les unités hors de l’Ile-de-France) ou physiques (en Ile-de-France), quand cela fut possible. En effet, on peut déplorer que notre démarche (et particulièrement la sollicitation d’entretiens) n’a pas toujours reçu un accueil favorable. Nous espérons que la publication de cette première mouture créera une nouvelle émulation et une plus grande ouverture à l’égard du projet.
        </p>
        <p>
            Afin d’établir la fiche détaillée de chaque centre sur les cinq axes (Description ; Ecoles doctorales ; Thématiques ; Publications ; Documentation), la collecte commençait par le dépouillement systématique des sites internet des centres de recherche. Ces données collectées étaient ensuite complétées, dans les cas où cela était possible, par un ensemble de références et d’éléments disponibles soit sur l’espace virtuel de référence de l’Unité de Recherche sur l’annuaire du MENESR (écoles doctorales ; discipline principale/discipline secondaire ; mots clés sujets, etc), soit sur l’espace virtuel de référence de l’annuaire du CNRS (données sur le personnel ; sections d’appartenance des chercheurs, etc.).
        </p>
        <p>
            Ce n’est qu’au terme de cette première partie de la démarche, indispensable à la structuration d’un discours informé sur l’UR, qu’un entretien avec une des personnes ressources du centre de recherche était sollicité -généralement mais pas exclusivement son directeur. La vérification des données collectées et la récolte des données manquantes étaient les objectifs de ce deuxième moment de notre démarche.
        </p>
        <p>
            Toute demande d’entretien s’est faite par envoi de courriel (une ou plusieurs fois dans certains cas) autour de trois arguments : d’abord la présentation du projet ; ensuite l’objet de l’entretien ; et enfin l’intérêt d’une telle démarche. Quelquefois, nous avons été réorientés vers d’autres personnes ressources que celles initialement contactées. Généralement, les motivations de cette réorientation se résumant autour de la qualification ou de la légitimité à s’exprimer. Pour couvrir l’ensemble des thématiques des données à récolter, il a souvent été nécessaire de s’entretenir avec deux voire trois personnes différentes. Ainsi, les informations relatives aux Ecoles doctorales ont été obtenues auprès d’interlocuteurs spécifiques. Idem pour les données relatives aux ressources documentaires : lorsque le centre dispose d’un centre de documentation, son responsable a systématiquement été contacté sur ces questions.
        </p>
        <p>
            A l’inverse, nous nous sommes heurtés au silence de nombreuses personnes contactées : soit par une absence de réponse, soit par l’expression d’une volonté de ne pas participer à l’enquête. Dans un souci de transparence, lorsqu’une donnée est manquante, nous avons opté pour une identification du silence délibéré des interlocuteurs dans notre collecte par la mention “NC” (Non Communiqué), ceci dans le but de le démarquer de l’absence totale de l’information, symbolisée par X.
        </p>
        <h2>
            4. Description des données : A quelles questions ce site répond-il?
        </h2>
        <p>
            Les fiches des centres de recherche s’articulent autour de 5 axes : Description ; Ecoles doctorales ; Thématiques ; Publications ; Documentation.
        </p>
        <h3>
            Description
        </h3>
        <p>
            Renseigne sur les informations institutionnelles : sur la direction, la localisation, les contacts, ainsi que les établissements de rattachement. On trouve également un lien vers le site Internet du centre de recherche.
        </p>
        <p>
            Concernant les personnels, trois données chiffrées sont indiquées : l’effectif total, les personnels permanents et les personnels non-permanents. Nous avons fait le choix de ne pas tenir compte des différents statuts (maîtres de conférence, professeurs, chargés de recherche, directeurs de recherche, statuts FNSP ou FMSH, etc) et de ne conserver comme seule variable permanents/non-permanents. En effet, il existe déjà une cartographie réalisée en 2013 par l’Association française de science politique (AFSP) sur les personnels spécifiquement. Enfin pour connaître en détail la composition des effectifs, nous avons indiqué les liens vers les listes des chercheurs du site internet du centre et du site du CNRS.
        </p>
        <p>
            Toutes les informations officielles que nous avons mentionnées jusqu’ici ont été récoltées à partir des annuaires du CNRS et du MENESR et vérifiées lors des entretiens.
        </p>
        <p>
            En plus de l’année de création, nous avons aussi reporté un texte de présentation de l’historique provenant la plupart du temps du site internet du centre. Concernant l’année de création : lorsqu’il s’agit d’une fusion, nous avons fait le choix de garder la date de création de la nouvelle entité, et non la date de création du centre le plus ancien (exemple : CESSP. 2010). En revanche lorsqu’il s’agissait d’une même entité changeant uniquement de nom, nous avons conservé la date de création la plus ancienne.
        </p>
        <h3>
            Ecoles doctorales
        </h3>
        <p>
            Cette partie indique à quelle(s) Ecole(s) doctorale(s) le centre est rattachée(s). Sont mentionnés le nom et le code de ces Ecoles, leur direction et leurs contacts. On retrouve également des données concernant le nombre de thèses en préparation, le nombre de thèses en préparation en science politique spécifiquement (quand il a été possible d’en avoir l'information) et le nombre de thèses soutenues l’année précédente révolue.
        </p>
        <p>
            Toutes ces informations ont été récoltées d’une part sur l’annuaire du MENESR et d’autre part avec des entretiens auprès des Ecoles doctorales.
        </p>
        <h3>
            Thématiques
        </h3>
        <p>
            Cette partie est évidemment centrale dans notre démarche et nous avons tenté de la détailler autant que possible.
        </p>
        <p>
            Concernant les classifications institutionnelles, nous avons retenu les sections du CNRS et les mots-clés de l’annuaire du MENESR.
        </p>
        <p>
            Sur les axes de recherche, nous avons récupéré ceux établis par les centres. Nous avons également récolté les contrats de recherche qui proviennent le plus souvent de financements fléchés. Ce mode de fonctionnement étant de plus en plus fréquent, cela fournit également des informations sur les thématiques de ces recherches.
        </p>
        <p>
            Nous avons également indiqué tous les intitulés des séminaires de recherche que nous avons pu récolter. Ces séminaires sont le reflet de la recherche en train de se faire et des thématiques développées et enseignées par les chercheurs de ces laboratoires.
        </p>
        <p>
            Enfin, nous avons demandé s’il existait des réseaux et des collaborations autour de projets de recherche.
        </p>
        <p>
            Toutes ces informations (à l’exception des données institutionnelles) ont été récoltées soit sur les sites internet des centres de recherche, soit directement lors des entretiens.
        </p>
        <h3>
            Publications
        </h3>
        <p>
            Ce dont il est question ici ce n’est pas de fournir ou simplement d’indiquer les publications mais de mettre en lumière les modes et lieux de diffusion des publications de la recherche.
        </p>
        <p>
            Pour ce faire, nous indiquons si le centre possède des collections auprès d’éditeurs, s'il édite des revues en propre (y compris celles publiées uniquement en ligne) et revues, valorisation, archivage des données.
        </p>
        <p>
            Par ailleurs il est indiqué si les publications sont versées ou non dans HAL (l’archive ouverte pluridisciplinaire du CNRS) et/ou dans un dépôt institutionnel. Cela s’accompagne d’une description qualitative des préconisations et des pratiques du laboratoire en terme de dépôt en open-access des publications.
        </p>
        <p>
            Nous avons aussi récolté les informations concernant les données de la recherche et leur archivage. Force est de constater que peu de centres nous ont indiqué avoir une action dans ce domaine. Ce qui confirme que cette pratique est encore balbutiante en France.
        </p>
        <p>
            Enfin, dans la dernière rubrique sur la valorisation des publications par le laboratoire, nous avons indiqué s’il existait un espace consacré à cela sur le site internet du laboratoire, des fils RSS, des newsletters, des comptes twitter, des publications de working paper, etc.
        </p>
        <p>
            Pour l’ensemble de cette partie, toutes les informations récoltées l’ont été presque uniquement à partir des entretiens. Ce qui en fait un apport original. A noter qu’il existe dans ce domaine des publications et des données de la recherche de fortes disparités entre les laboratoires en terme de moyens, de ressources et de pratiques.
        </p>
        <h3>
            Documentation
        </h3>
        <p>
            Cette dernière partie est également issue presque exclusivement d’entretiens au sein des centres et avec les documentalistes (lorsque les centres en disposent). Dans le cadre d’un projet porté par une bibliothèque dans le cadre de Collex, les informations portant sur les ressources documentaires sont évidemment cruciales.
        </p>
        <p>
            Nous avons donc recueilli des informations sur les bibliothèques utilisées (uniquement sur le mode déclaratif auprès des centres et non à partir des chercheurs eux-mêmes). Nous devons préciser d’emblée que nous n’avons pas détaillé la nature des fonds des bibliothèques utilisées. Cet aspect pourrait être développé dans une prochaine évolution de ce travail de cartographie (voir plus loin).
        </p>
        <p>
            Toujours sur le même mode nous avons également demandé quelles sont - à grands traits - les ressources numériques à disposition des chercheurs. Ce point pourrait également être affiné dans de prochaines versions.
        </p>
        <p>
            Lorsqu’il existe une personne ressource sur la documentation nous l’avons indiquée en la nommant et en mettant son contact.
        </p>
        <p>
            Les données suivantes portent sur les centres de documentation en propre des centres de recherche. Lorsque ceux-ci en disposent, nous avons recueilli les informations concernant le nom du centre de documentation et son site (ou sa page) web, la nature de son fonds documentaire, sa politique documentaire, et les offres de formations documentaires à disposition des chercheurs.
        </p>
        <p>
            Enfin, il est également fait mention des collaborations documentaires qui peuvent exister (même sur des petits écosystèmes).
        </p>
        <p>
            A noter qu’au delà des fortes disparités en terme de taille et de moyens entre les différents centres de recherche, les données relatives aux ressources documentaires reposant presque exclusivement sur les entretiens, il existe un fort déséquilibre dans les informations recueillies. Cela fut plus aisé lorsque nous avions des documentalistes pour les entretiens. Force est de constater que souvent, soit nous manquions d’interlocuteurs, soit ceux que nous avions dans les centres de recherche n’étaient parfois pas très sensibles ou très au fait des problématiques documentaires.
        </p>
        <h3>
            Premières observations
        </h3>
        <p>
            Même si nous n’avons à ce stade pas encore procédé à de réelles analyses, certaines observations ressortent de ce travail d’enquête.
        </p>
        <p>
            D’abord ce qui saute aux yeux en observant la carte ce sont les disparités géographiques. Et plus particulièrement la place prépondérante de Paris. Cette situation peut s’expliquer historiquement, notamment par la place occupée dans l’institutionnalisation de la science politique en France par la FNSP et Paris1. Et même si les enquêtes de l’AFSP montrent une tendance à la baisse du poids des centres de recherche et des chercheurs parisiens dans la discipline, on observe que le centre de gravité de la discipline reste fortement marqué.
        </p>
        <p>
            Du point de vue institutionnel, on peut noter une grande variété dans les dimensions des centres de recherche (notamment en terme d’effectifs). Mais également de grandes différences entre des centres tournés presque exclusivement vers la science politique (même en faibles effectifs) et d’autres centres plus importants en terme d’effectifs, souvent pluridisciplinaires, mais où la science politique n’occupe qu’une place marginale.
        </p>
        <p>
            Sur les personnels, on remarque que l’effectif total ne comprend qu’une part minoritaire de personnels permanents. Même si les données ne permettent pas de saisir des évolutions diachroniques, tout porte à croire que le développement de contrats de recherche fléchés et d’une recherche sur projet accentue la part des personnels non-permanents (notamment des doctorants ou post-doctorants) dans l’effectif global des centres de recherche.
        </p>
        <p>
            En ce qui concerne les thématiques de recherche, on observe qu’à l’image de la discipline en générale, les thématiques de la philosophie politique et du droit constitutionnel sont de moins en moins présentes, à l’inverse des thématiques en sociologie politique ou en relations internationales.
        </p>
        <p>
            On remarque aussi le développement des thématiques liées aux analyses des politiques publiques (sur la santé, sur les politiques urbaines, sur les discriminations). On note aussi une tendance sur d’autres thématiques pluridisciplinaires : études sur le genre ou l’environnement.
        </p>
        <p>
            On peut émettre l’hypothèse que le développement de ces “nouvelles” thématiques s’appuie sur la part croissante des contrats fléchés sur projets dans le financement de la recherche.
        </p>
        <p>
            Cela n’est pas sans conséquences sur les thématiques qui doivent être privilégiées dans les politiques documentaires concernant l’acquisition. Il y a ici besoin d’adapter les fonds documentaires aux évolutions de la science politique.
        </p>
        <p>
            Pour ce qui est de l’archivage des données de la recherche, il est évident que même si le recueil d’informations a pu être lacunaire, le peu de données récoltées sur ce point révèle à quel point ce domaine est encore plus que balbutiant en France. De plus, cette pratique n’est que peu portée institutionnellement. Il pourrait être intéressant que l’appui à la recherche par le développement des services CollEx porte également sur cet enjeu.
        </p>
        <p>
            Sur les publications en archives ouvertes, il est intéressant de noter que la pratique de dépôt dans HAL est encore loin d’être la règle. Décalage entre les préconisations des laboratoires et les pratiques des chercheurs. Certains laboratoires déplorent que les chercheurs mettent plus facilement en ligne leurs travaux sur les réseaux sociaux de la recherche (Academia, Research Gate) plutôt que de les déposer dans les entrepôts en open-access.
        </p>
        <p>
            Il ressort également de notre enquête qu’il existe encore une part importante de centres de documentation au sein des centres de recherche. Les voir ainsi recensés dans cet outil permet de mieux saisir leurs fonds et leurs activités. On a pu ainsi déceler certaines “niches documentaires” sur des fonds thématiques.
        </p>
        <p>
            Pour être en mesure d’étayer ces premières observations et en faire de véritables analyses, il faudrait s’inscrire dans une démarche scientifique : questionner, quantifier, argumenter, vérifier.
        </p>
        <p>
            C’est aussi pour cela que nous avons souhaité que les données de cette cartographie soient diffusées au plus grand nombre, dans l’espoir notamment que des chercheurs se l’approprient dans le cadre de recherches sur la science politique comme discipline.
        </p>
        <h2>
            5. Diffusion
        </h2>
        <p>
            Ce site internet qui fournit un outil de visualisation des données collectées a été développé en partenariat entre la <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank">bibliothèque de SciencesPo</a> et le <a href="http://www.medialab.sciences-po.fr/fr/" target="_blank">médialab</a>. Cette cartographie sera à terme également consultable sur le site de <a href="http://www.collex.eu/" target="_blank">CollEx</a>.
        </p>
        <p>
            L’ensemble des données présentées sont téléchargeables librement. Mise à disposition des données complètes (ou de sélections issues de vos recherches) sous la forme d’un lien de téléchargement des données au format CSV. Les données sont ensuite réutilisables librement.
        </p>
        <p>
            De plus, nous souhaitons nous inscrire dans une démarche collaborative afin de faire évoluer au mieux cet outil. Libre à chacun de nous contacter pour faire procéder à des corrections ou à des mises à jour.
        </p>
        <h2>
            6. Évolutions à venir
        </h2>
        <p>
            A court terme, la première évolution est l’intégration des centres de la liste secondaire de l’annuaire du MENESR qui n’ont pas encore été traités (voir plus haut).
        </p>
        <p>
            Afin d’améliorer cette cartographie et de favoriser sa diffusion, nous allons solliciter des partenariats auprès d’acteurs institutionnels de la discipline (AFSP, IPSA, CNRS, CNU).
        </p>
        <p>
            Ce projet avait été validé par le Comité de réflexion sur la Science Politique de la Direction scientifique de Sciences Po et par le MENESR, mais il nous semble important de mettre en place à court ou moyen terme un comité scientifique. Celui-ci pourra orienter les choix en terme de centres de recherche devant figurer dans la cartographie (les frontières de la discipline étant, comme on l’a vu, très subjectives). Mais aussi pour déterminer les évolutions pertinentes, mettre en lumière les types de données à récolter susceptibles d’être ajoutées, fournir des pistes de recherche, ajuster la méthodologie, etc.
        </p>
        <p>
            La question de la mise à jour des données est une question stratégique pour ce type d’outil. Si la cartographie n’est pas mise à jour au moins une fois par an, elle perdra rapidement sa pertinence. Pour faciliter cette mise à jour nous réfléchissons au développement d’un backoffice reposant sur une base de données pérenne qui puisse être alimentée par un formulaire. Ainsi les centres de recherche pourraient mettre à jour de manière autonome leurs données. Les acteurs institutionnels qui auront souhaité s’associer à cette cartographie pourraient également jouer un rôle de médiation dans ce procédé de mise à jour.
        </p>
        <p>
            Une collaboration et une mise en commun de certaines données pourraient aussi être développées avec l’outil <a href="https://scanr.enseignementsup-recherche.gouv.fr/" target="_blank">ScanR</a> “moteur de la recherche et de l’innovation” à l’échelle de toutes les disciplines en France, mis en ligne par le MENESR en juillet 2016. Leur démarche (davantage quantitative) et la nôtre peuvent assurément trouver des points de synergie permettant d’améliorer les deux outils.
        </p>
        <p>
            En plus d’une mise à jour des données variant chaque année, nous pouvons éventuellement envisager de ne pas écraser les données lors des mises à jour mais au contraire d’ajouter des données pour chacune des années. Cela permettrait de donner une dimension diachronique à la cartographie et du même coup aux analyses qui pourront être faites. Ainsi il sera possible de montrer l’évolution dans le temps de telles ou telles données.
        </p>
        <p>
            Un autre développement pourrait également s’avérer d’une grande utilité. Il semble en effet important de créer un référentiel de mots-clés contrôlés pour les thématiques de recherche. Au delà de l’apport d’une information structurée facilitant la navigation sur la cartographie, cela permettrait de dégager des récurrences et d’en faire des analyses plus fines.
        </p>
        <p>
            Enfin, même si cette cartographie a d’abord été pensée à partir des centres de recherche, il pourrait être envisagé d’y intégrer le réseau des bibliothèques qui disposent d’un fonds en science politique (Bibliothèques universitaires, bibliothèques des IEP, BNF). Pour l’instant il est seulement fait mention des bibliothèques utilisées et seuls les fonds et les activités des centres de documentation au sein des laboratoires ont fait l’objet de récolte de données.
        </p>
        <h2>
            7. Bibliographie
        </h2>
        <p>
            Une bibliographie sur la science politique comme discipline est consultable sur le site du <a href="http://www.rc33ipsa-globalpolitical.science/" target="_blank">GSPS</a> - The Global Study on the Development of Political Science. Un portail de ressources et une fenêtre de compréhension sur la discipline dans le monde du RC33 de l'IPSA.
        </p>
        <p>
            <a href="http://www.rc33ipsa-globalpolitical.science/assets/Dias_Coelho_Reinalda_Database_v1-2015.pdf" target="_blank">Lien direct vers la bibliographie</a>
        </p>
        <br />
    </div>
</div>