<h1>Project</h1>
<p>
  <b
    >Identify research in political science from an institutional and librarian
    point of view</b
  >
</p>
<ul class="no-bullet">
  <li><a ng-click="scrollTo('first')">1. Project objectives</a></li>
  <li><a ng-click="scrollTo('second')">2. Context of the project</a></li>
  <li>
    <a ng-click="scrollTo('third')">3. Project realization: methodology</a>
    <ul>
      <li>
        <a ng-click="scrollTo('third_a')">Elaboration of the list of centers</a>
      </li>
      <li><a ng-click="scrollTo('third_b')">Collection of data</a></li>
    </ul>
  </li>
  <li>
    <a ng-click="scrollTo('fourth')"
      >4. Description of the data: What questions does this site answer?</a
    >
  </li>
  <li><a ng-click="scrollTo('fifth')">5. Dissemination and updates</a></li>
  <li><a ng-click="scrollTo('sixth')">6. Paths of evolution</a></li>
  <li><a ng-click="scrollTo('seventh')">7. Bibliography</a></li>
  <li><a ng-click="scrollTo('eighth')">8. Useful links</a></li>
</ul>
<h2 id="first">1. Project objectives: Why such work has been undertaken?</h2>
<p>
  The first objective aims at identifying the research centers of the
  discipline. In a segmented institutional landscape - between the Ministry of
  National Education of Higher Education and Research (MENESR) and the National
  Center for Scientific Research (CNRS) or between Universities and Institutes
  of Political Studies (IEP) - there was no common tool for identifying research
  centers &quot;belonging&quot; to political science. Establishing such a list
  may encounter difficulties and we will go on to detail in the methodological
  part the continuous work of adjustment that has been necessary and is
  continuing.
</p>
<p>
  Beyond the centers, it is also a question of identifying the persons
  (directors of laboratories, directors of Doctoral Schools, resource persons in
  documentation) to facilitate the flow of information and networking.
</p>
<p>
  Identifying the research themes is a central element of this work that can
  benefit the greatest number of users interested in political science. It is
  also a strategic element from a library point of view. These qualitative data
  collected are intended to help develop an acquisitions policy, that is in line
  with the current lines of research, particularly in terms of digital
  resources. Some acquisitions can already take into account emerging research
  themes. Once completed and regularly updated, they can help monitor
  subscriptions to digital resources.
</p>
<p>
  This mapping includes an important library component aimed at identifying the
  resources and library practices within the research centers. This will help to
  better identify library needs and deploy appropriate services to serve the
  identified research community. This library dimension is explained by the
  context that gave birth to this project.
</p>
<h2 id="second">2. Context of the project</h2>
<p>
  The project is part of the CollEx (&quot;Collections of Excellence&quot;)
  infrastructure, a national library cooperation system, born from the need to
  renovate the Centers for the Acquisition and Dissemination of Scientific and
  Technical Information (CADIST) which structured the library network of Higher
  Education and Research (ESR) for 30 years.
</p>
<p>
  The SciencesPo library was CADIST in political science since 1982. As such,
  its mission was to acquire, preserve and disseminate resources in this
  discipline: research-level documents, French and foreign, in all media.
</p>
<p>
  CollEx-Pers&eacute;e took the form of a Group of Scientific Interest (GIS) for
  a period of 6 years (2017-2022). It aims to contribute to the performance of
  French research by developing library services closer to the needs of
  researchers.
</p>
<p>
  By coordinating, enriching the content offer and developing services,
  CollEx-Pers&eacute;e intends to meet a double challenge: easy and widely
  accessible access to library resources; expert management of data and
  documents related to research programs.
</p>
<p>
  It brings together, alongside Pers&eacute;e, the main actors of IST in France:
</p>
<ul>
  <li>operators supporting national IST policies (ABES, CTLES)</li>
  <li>national structures with large heritage collections (BnF, INIST)</li>
  <li>CollEx Delegate&nbsp;Libraries</li>
  <li>CollEx Associated Libraries</li>
</ul>
<p>
  At the end of the call for expressions of interest, the Sciences Po library
  was one of the 9 institutions selected in 2017 and is CollEx&#39;s
  &quot;delegatee&nbsp;library&quot; for political science.
</p>
<p>
  Thus, the basic allocation usually received for library acquisitions was
  partially replaced by a project grant. Since these projects must be part of a
  research service approach, the Sciences Po library therefore proposed the
  development of this mapping as an initial project.&nbsp;Capturing the
  &quot;community&quot; of researchers in the discipline is a prerequisite for
  projects in order to improve &nbsp;the tools and services of a CollEx library
  intended for the latter.
</p>
<h2 id="third">3. Project realization: methodology</h2>
<h3 id="third_a">Elaboration of the list of centers</h3>
<p>
  The plural nature of political science materializes even in spelling. For
  Sciences Po and the Ecole Libre des Sciences Politiques, the plural is
  used.&nbsp;On the other hand, when we talk about the academic subject, the
  singular is privileged.&nbsp;It is also the result of an intellectual and
  institutional construction that has distinguished itself from other
  disciplines (history, law, and even more recently philosophy) accompanied by
  more and more important connexions with &nbsp;sociology and humanities and
  social sciences in general.&nbsp;The major role of political sociology within
  the discipline bears witness to this (you will find at the end of this page a
  bibliography on the history of political science, its institutionalization and
  its current landscape).
</p>
<p>
  The subject of the discipline is not obvious and this is reflected both in the
  research themes but also in the difficulties to delimit the boundaries,
  including institutional, of the discipline.
</p>
<p>
  Taken at the same time in a multidisciplinary logic and in the development of
  sub-disciplines, it is not surprising that it is difficult to establish the
  outlines of the discipline.
</p>
<p>
  When we set up the project of mapping research centers in political science,
  we had the greatest difficulty in defining which centers belonged to the
  discipline despite the &quot;objective&quot; criteria that we sought to use.
</p>
<p>To establish the list of centers to be treated, we cross-checked&nbsp;:</p>
<ul>
  <li>
    The list of Research Units, having political science as &quot;main
    discipline&quot; in the
    <a
      href="https://appliweb.dgri.education.fr/annuaire/ListeEntite.jsp?entite%3Dur%26sd%3D35%26ordre%3Ddep%26prov%3DListeSd"
      >Annuaire des formations doctorales et des unit&eacute;s de recherche</a
    >&nbsp;of the Ministry of National Education, Higher Education and Research
    associated with the
    <a
      href="https://appliweb.dgri.education.fr/rnsr/ChoixCriteres.jsp?PUBLIC%3DOK"
      >R&eacute;pertoire National des Structures de Recherche</a
    >&nbsp;(RNSR)
  </li>
  <li>
    The research centers of section 40 &quot;Politics, power, organization&quot;
    of the CNRS (National Center for Scientific Research)
    <a href="https://annuaire.cnrs.fr/l3c/owa/annuaire.recherche/index.html"
      >Annuaire des laboratoires et des personnels</a
    >
  </li>
  <li>
    The list extracted from the
    <a href="https://annuaire.cnrs.fr/l3c/owa/annuaire.recherche/index.html"
      >Annuaire des laboratoires et des personnels</a
    >&nbsp;of the CNRS for research centers that have a thematic indexing that
    contains: &quot;SC.HS - SCIENCES POLITIQUES&quot;
  </li>
  <li>
    <a href="https://ancmsp.com/annuaire-des-laboratoires-en"
      >L&rsquo;annuaire des laboratoires en science politique</a
    >&nbsp;from the ANCMSP
  </li>
</ul>
<p>Centers not selected</p>
<ul>
  <li>
    Centers present abroad have not been selected. Only the centers present in
    France have been selected.
  </li>
  <li>
    Centers that did not wish to appear or were not considered relevant in
    political science were not included (no research topics and no political
    science researchers).
  </li>
  <li>
    For the&nbsp;&ldquo;Maison des Sciences de l&#39;Homme sur
    l&#39;environnement&rdquo;, we have retained only their research center in
    political science: Centre de recherches juridiques de
    l&#39;universit&eacute; de Franche-Comt&eacute; (CRJFC).
  </li>
</ul>
<p>
  It is also possible that we come to integrate or withdraw centers that request
  it. It is now possible to make these requests for additions, withdrawals or
  updates directly from the site. We are thinking of setting up a scientific
  committee representing the different institutions and spectrum of political
  science which would be responsible in particular for defining the perimeter of
  the centers treated in the cartography.
</p>
<h3 id="third_b">Collection of data</h3>
<p>
  Data collection was conducted successively by three PhDs or doctoral students
  in political science following the same method.
</p>
<p>
  From the pre-established list, two complementary techniques made it possible
  to collect more or less complete and detailed information: first the
  collection by web sites dedicated to political science &nbsp;and then the
  verification of the data collected by phone interviews (for units outside the
  Ile-de-France) or physical (in Ile-de-France), when this was possible. Indeed,
  it is regrettable that our approach (and particularly the solicitation of
  interviews) has not always received a favorable reception.
</p>
<p>
  In order to establish the detailed sheet of each center on the five axes
  (Description: Doctoral Schools, Thematics, Publications, Documentation), the
  collection started with the systematic analysis of the websites of the
  research centers.&nbsp;These collected data were then supplemented, when
  possible, by a set of references and elements available either on the virtual
  reference space of the Research Unit on the MENESR directory (doctoral
  schools, discipline main / secondary discipline, keywords, etc.), or on the
  virtual reference area of the CNRS directory (personnel data, membership
  sections of researchers, etc.).
</p>
<p>
  It is only at the end of this first part of the process, essential to the
  structuring of an informed discourse on the research unit, that an interview
  with one of the resource persons of the research center was solicited -
  usually but not exclusively its director. The verification of the collected
  data and the collection of the missing data were the objectives of this second
  moment of our approach.
</p>
<p>
  Any request for interview was made through e-mail (once or several times in
  some cases) around three arguments: first the presentation of the project;
  then the subject of the interview; and finally the relevance of such an
  approach.&nbsp;Sometimes we have been redirected to other resource persons
  than those originally contacted. Generally, the motivations of this
  reorientation are summarized around the qualification or the legitimacy to
  express oneself.&nbsp;To cover all the themes of the data to be collected, it
  has often been necessary to interview two or three different people. Thus, the
  information relative to the Doctoral Schools was obtained from specific
  contacts. The same for data concerning library resources: when the center had
  a documentation center, its manager was systematically contacted on these
  questions.
</p>
<p>
  On the opposite, we were silenced by many people contacted: either by a lack
  of response, or by the expression of a desire not to participate in the
  survey. In the interest of transparency, when a data is missing, we opted for
  an identification of the deliberate silence of the interlocutors in our
  collection by the mention &quot;NC&quot; (Not Communicated), this in order to
  distinguish it from the total absence information, symbolized by X.
</p>
<h2 id="fourth">
  4. Description of the data: What questions does this website answer?
</h2>
<p>
  The fact sheets of the research centers are based on 5 axes: Description;
  Doctoral schools; Themes; Publications; Documentation.
</p>
<h3>Description</h3>
<p>
  It provides&nbsp;information on institutional information: on management,
  location, contacts, and related institutions. There is also a link to the
  research center&#39;s website.
</p>
<p>
  For staff, three figures are given: total staff, permanent staff and
  non-permanent staff. We have chosen not to take into account the different
  statuses (lecturers, professors, research officers, research directors, FNSP
  or FMSH statutes, etc.) and to keep permanent / non-permanent as the only
  variable. Finally, to know in detail the composition of the workforce, we have
  indicated the links to the lists of researchers on the website of the center
  and the CNRS site.
</p>
<p>
  All the official information that we have mentioned so far has been collected
  from the CNRS and MENESR directories and verified during the interviews.
</p>
<p>
  In addition to the year of creation, we also put a text presentation of the
  history coming mostly from the center&#39;s website. Concerning the year of
  creation: in the case of a merger, we have chosen to keep the creation date of
  the new entity, and not the date of creation of the oldest center (example:
  CESSP. 2010). However, when it was the same entity only changing its name, we
  kept the oldest creation date.
</p>
<h3>Doctoral schools</h3>
<p>
  This part indicates which doctoral school(s) the center is attached to. The
  name and code of these Schools, their directorate and their contacts are
  mentioned. We also find data on the number of PhD students, the number of PhD
  students in Political Science specifically (when it was possible to have the
  information) and the number of theses supported the previous year. All this
  information was collected on the one hand on the directory of the MENESR and
  on the other hand with interviews with the Doctoral Schools
</p>
<h3>Research themes</h3>
<p>
  This part is obviously central in our approach and we tried to detail as much
  as possible.
</p>
<p>
  Regarding the institutional classifications, we retained the CNRS sections and
  keywords in the MENESR directory.
</p>
<p>
  On the lines of research, we have recovered those established by the centers.
  We also collected the research contracts that come mostly from arrow
  financings. This mode of operation being more and more frequent, it also
  provides information on the themes of these researches. Concerning the
  institutional classifications, we retained the sections of the CNRS and the
  keywords of the directory of the MENESR.
</p>
<p>
  We also indicated all the titles of the research seminars that we were able to
  collect. These seminars are a reflection of the research being done and the
  themes developed and taught by the researchers of these laboratories.
</p>
<p>
  Finally, we asked if there were networks and collaborations around research
  projects.
</p>
<p>
  All this information (with the exception of institutional data) was collected
  either on the websites of the research centers or directly during the
  interviews.
</p>
<h3>Publications</h3>
<p>
  What is in question here is not to provide or simply to indicate the
  publications but to highlight the modes and places of dissemination of
  research publications.
</p>
<p>
  To do this, we indicate whether the center has book collections from
  publishers, whether it has its own&nbsp;journals or working papers series
  (including those published only online.
</p>
<p>
  In addition it is indicated if the publications are deposit or not in HAL
  repository (the multidisciplinary open archive of the CNRS) and / or in an
  institutional repository. This is accompanied by a qualitative description of
  the recommendations and practices of the laboratory in terms of filing
  open-access publications.
</p>
<p>
  We also collected information about research data and its archiving. It is
  clear that few centers have indicated that they have any action in this area.
  This confirms that this practice is still in its infancy in France.
</p>
<p>
  Finally, in the last section on the valorisation of publications by the
  laboratory, we indicated if there was a space dedicated to this on the website
  of the laboratory, RSS feeds, newsletters, twitter accounts, working paper
  publications etc.
</p>
<p>
  For this whole part, all the information gathered was almost entirely from the
  interviews. Which makes it an original contribution. It should be noted that
  there are publications and research data in this area that are highly
  disparate between laboratories in terms of funding, resources and practices.
</p>
<h3>Documentation</h3>
<p>
  This last part also comes almost exclusively from interviews within the
  centers and with librarians (when the centers have them). As part of a project
  carried by a library within the framework of CollEx, information on library
  resources is obviously crucial.
</p>
<p>
  We therefore collected information on the libraries used (only directly with
  the centers, without interrogating the researchers themselves). We must make
  it clear at the outset that we have not detailed the nature of the libraries
  used. This aspect could be developed in a future evolution of this mapping
  work (see below).
</p>
<p>
  Always in the same mode, we also asked what are - broadly - digital resources
  available to researchers. This point could also be refined in future versions.
</p>
<p>
  When there is a resource person from the library we have indicated the
  &nbsp;name and the &nbsp;contact.
</p>
<p>
  The following data relate to the libraries of the research centers. When they
  have them, we have collected information about the name of the library and its
  website (or web page), the nature of its collection, its library policy, and
  the library training offers available to researchers.
</p>
<p>
  Finally, we have also mentioned the library collaborations that may exist
  (even on small ecosystems).
</p>
<p>
  It should be noted that, in addition to the large disparities in terms of size
  and resources between the different research centers, since data on
  documentary resources is based almost exclusively on interviews, there is a
  strong imbalance in the information collected. It was easier when we had
  librarians for the interviews. It is clear that often we either lacked
  interlocutors, or those we had in research centers were sometimes not very
  sensitive or very familiar with library issues
</p>
<h3>First&nbsp;observations</h3>
<p>
  Although we have not yet made any real analyses at this stage, some
  observations emerge from this survey.
</p>
<p>
  First what is obvious in observing the map are geographical disparities. And
  especially the predominant place of Paris. This situation can be explained
  historically, in particular by the place occupied in the institutionalization
  of political science in France by the FNSP and Paris 1. And even if the AFSP
  (Association Fran&ccedil;aise de science Politique) surveys show a downward
  trend in the weight of research centers and Parisian researchers in the
  discipline, we observe that the center of gravity of the discipline remains
  strongly marked.
</p>
<p>
  From the institutional point of view, there is a great variety in the size of
  the research centers (especially in terms of staff). But also great
  differences between centers turned almost exclusively towards political
  science (even in small numbers) and other centers more important in terms of
  staff, often multidisciplinary, but where political science occupies only a
  marginal place.
</p>
<p>
  On staff, it can be noted that the total number of staff includes only a
  minority share of permanent staff. Even if the data do not allow us to grasp
  diachronic evolutions, there is every reason to believe that the development
  of research contracts and project research increases the proportion of
  non-permanent staff (in particular doctoral or post-doctoral staff) in the
  overall size of the research centers.
</p>
<p>
  With regard to the research themes (see word cloud), we observe that, as the
  discipline in general, the themes of political philosophy and constitutional
  law are less and less present contrary to themes in political sociology or
  international relations.
</p>
<p>
  We also note the development of themes related to the analysis of public
  policies (on health, urban policies, on discrimination). There is also a trend
  towards other multidisciplinary themes: gender or environmental studies.
</p>
<p>
  It can be hypothesised that the development of these &quot;new&quot; themes is
  based on the increasing share of project-based contracts in the funding of
  research.
</p>
<p>
  This is not without consequences on the themes that must be privileged in
  library policies concerning acquisitions. There is a need here to adapt the
  library collections to the developments in political science.
</p>
<p>
  With regard to the archiving of research data, it is obvious that although the
  collection of information may have been incomplete, the limited data collected
  on this matter reveals how much this field is still more than stammering in
  France. Moreover, this practice is of little institutional significance. It
  could be interesting that support for research through the development of
  CollEx services also addresses this issue.
</p>
<p>
  On open archive publications, it is interesting to note that the practice of
  filing in HAL is still far from the rule. Difference between the
  recommendations of laboratories and the practices of researchers. Some
  laboratories complain that researchers can more easily put their work online
  on social networks of research (Academia, Research Gate) rather than
  depositing them in open-access warehouses.
</p>
<p>
  Our survey also shows that there is still a large share of research libraries
  within the research centers. Seeing them listed in this tool makes it possible
  to better understand their funds and activities. Some &quot;library
  niches&quot; could thus be detected on thematic funds.
</p>
<p>
  To be able to support these first observations and to analyze them thoroughly,
  it would be necessary to follow a scientific method: to question, to quantify,
  to argue, to check.
</p>
<p>
  It is also for this reason that we have wished for the data of this
  cartography to be shared with the greatest number, in the hope notably that
  researchers are appropriating it in the framework of researches on political
  science as a discipline
</p>
<h2 id="fifth">5. Dissemination and updates</h2>
<p>
  This website, which provides a visualization tool for the data collected, was
  developed in partnership between the Sciences Po library and
  the&nbsp;medialab. This map is also available on the AFSP website and will be
  available on the CollEx website.
</p>
<p>
  All data presented are freely downloadable. Provision of complete data (or
  selections from your research) in the form of a download link data in CSV
  format. The data is then reusable freely.
</p>
<p>
  The question of updating the data is strategic for this type of tool. If the
  map is not updated at least once a year, it will quickly become irrelevant. To
  facilitate this update we have developed a Back Office based on a perennial
  database that can be supplemented by a form.
</p>
<p>
  In this way, research centers can autonomously update their data. In addition,
  we want to join a collaborative approach to improve this tool. Everyone can
  submit corrections or updates. These requests must be validated by one of the
  administrators to be published on the site.
</p>
<p>
  The &ldquo;Association Fran&ccedil;aise de Science Politique&rdquo;(AFSP) has
  agreed to be a stakeholder in this updating endeavour and has a status of
  administrator.
</p>
<p>
  In addition, we also carry out a data backup each year in order to possibly
  allow diachronic analyzes. Thus it will be possible to show the evolution over
  time of such and such data. These backups have not yet been published on the
  site but can be provided upon request.
</p>
<h2 id="sixth">6. Tracks of developments</h2>
<p>
  It seems important to us to set up a scientific committee. It will be able to
  guide choices in terms of research centers to be included in the cartography
  (the boundaries of the discipline being, as we have seen, very subjective).
  But also to determine the relevant evolutions, highlight the types of data to
  harvest that can be added, provide research leads, adjust the methodology,
  etc.
</p>
<p>
  Collaboration and sharing of certain data could also be developed with the
  ScanR tool &quot;research and innovation engine&quot; across all disciplines
  in France, put online by the MENESR in July 2016 Their (more quantitative)
  approach and ours can certainly find points of synergy to improve both tools.
</p>
<p>
  Another development could also be of great help. It seems important to create
  a repository of controlled keywords for research topics. Beyond the provision
  of structured information facilitating navigation on the map, this would allow
  to identify recurrences and make more refined analyzes.
</p>
<p>
  Finally, even if this cartography was first conceived from the research
  centers, it could be intended to integrate the network of libraries that have
  a collection in political science (University Libraries, IEP libraries, BNF).
  For the moment, only the libraries used are mentioned, and only the
  collections and activities of the documentation centers in the laboratories
  have been collected.
</p>
<h2 id="seventh">7. Bibliography</h2>
<ul>
  <li>
    A bibliography on political science as a discipline is available on the GSPS
    website - The Global Study on the Development of Political Science. A
    Resource Portal and Window of Understanding on the Discipline in the World
    of IPSA RC33. Direct link to the bibliography
  </li>
  <li>
    Goudoux, M., L&#39;H&ocirc;te, A. (2017). Cartography of Political Science
    in France : How a digital &ldquo;library tool&rdquo; can objectivate the
    shape of a discipline and its academic disparities,&nbsp;Proceedings of
    IPSA/AISP Conference, 4th-6th December 2017, Hanover, Germany.&nbsp;<a
      href="https://hannover2017.ipsa.org/paper-room"
      >https://hannover2017.ipsa.org/paper-room</a
    >
  </li>
</ul>
<h2 id="eighth">8. Useful Links</h2>
<ul>
  <li>
    Collex-Persée<br />
    <a href="http://www.collex.eu/" target="_blank">http://www.collex.eu/</a>
  </li>
  <li>
    Bibliothèque de Sciences Po<br />
    <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank"
      >http://www.sciencespo.fr/bibliotheque/</a
    >
  </li>
  <li>
    Association française de science politique (AFSP)<br />
    <a href="https://www.afsp.info/" target="_blank">https://www.afsp.info/</a>
  </li>
  <li>
    Association internationale de science politique (IPSA / AISP)<br />
    <a href="http://www.ipsa.org/fr" target="_blank">http://www.ipsa.org/fr</a>
  </li>
  <li>
    scanR. Moteur de la recherche et de l'innovation<br />
    <a href="https://scanr.enseignementsup-recherche.gouv.fr/" target="_blank"
      >https://scanr.enseignementsup-recherche.gouv.fr/</a
    >
  </li>
  <li>
    Répertoire National des Structures de Recherche (RNSR)<br />
    <a
      href="https://appliweb.dgri.education.fr/rnsr/ChoixCriteres.jsp?PUBLIC=OK"
      target="_blank"
      >https://appliweb.dgri.education.fr/rnsr/ChoixCriteres.jsp?PUBLIC=OK</a
    >
  </li>
  <li>
    Annuaire des laboratoires du CNRS<br />
    <a
      href="https://annuaire.cnrs.fr/l3c/owa/annuaire.recherche/index.html"
      target="_blank"
      >https://annuaire.cnrs.fr/l3c/owa/annuaire.recherche/index.html</a
    >
  </li>
  <li>
    Annuaire des laboratoires en science politique de l‘ANCMSP (Association
    nationale des candidats aux métiers de la science politique)<br />
    <a href="https://ancmsp.com/annuaire-des-laboratoires-en" target="_blank"
      >https://ancmsp.com/annuaire-des-laboratoires-en</a
    >
  </li>
  <li>
    Guide thématique science politique<br />
    <a href="http://sciencespo.libguides.com/science-politique" target="_blank"
      >http://sciencespo.libguides.com/science-politique</a
    >
  </li>
</ul>
