<div class="view-page">
  <div class="container-fluid">
    <h1>Équipe du projet</h1>
    <ul id="teamList" style="list-style:none">
      <li>
        <a href="http://www.sciencespo.fr/ecole-doctorale/en/content/michael-goudoux">Mickaël Goudoux</a>, bibliothècaire référent à la bibliothèque de Sciences Po
      </li>
      <li>
        <a href="http://www.medialab.sciences-po.fr/fr/people/anne-lhote/">Anne L'Hôte</a>, développeuse à la bibliothèque de Sciences Po
      </li>
      <li>
        <a href="http://www.medialab.sciences-po.fr/fr/people/paul-girard/">Paul Girard</a>, directeur technique du Medialab de Sciences Po
      </li>
      <li>
        <a href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/">Grégory Tible</a>, développeur au Medialab de Sciences Po
      </li>
    </ul>
  </div>
</div>
