<div class="view-page">
    <div class="container-fluid">
        <h1>Équipe du projet</h1>
        <h2>Gestion de projet</h2>
        <ul>
            <li>
                <a href="http://www.sciencespo.fr/ecole-doctorale/en/content/michael-goudoux" target="_blank">Michaël Goudoux</a>, responsable du projet, bibliothécaire référent pour la science politique à la <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank">bibliothèque de Sciences Po</a>.
            </li>
        </ul>
        <h2>Collecte des données</h2>
        <ul>
            <li>
                Charlotte Dolez, docteure en science politique, chargée de recherches PDR-FNRS à l'Université Catholique de Louvain et chercheure associée au CEE, SciencesPo.
            </li>
            <li>
                Sarah Vincourt, doctorante en science politique, CESSP, Université Paris 1 Panthéon-Sorbonne.
            </li>
            <li>
                Faustin Armel Youbi, doctorant en science politique, ISP, Université Paris Ouest Nanterre La Défense.
            </li>
        </ul>
        <h2>Développement</h2>
        <ul>
            <li>
                <a href="http://www.medialab.sciences-po.fr/fr/people/paul-girard/" target="_blank">Paul Girard</a>, directeur technique du <a href="http://www.medialab.sciences-po.fr/fr/" target="_blank">médialab<a/>.
            </li>
            <li>
                <a href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/" target="_blank">Grégory Tible</a>, développeur au <a href="http://www.medialab.sciences-po.fr/fr/" target="_blank">médialab<a/>.
        </li>
        <li>
          Anne L'Hôte, développeuse à la <a href="http://www.sciencespo.fr/bibliotheque/" target="_blank">bibliothèque de Sciences Po</a>.
            </li>
        </ul>
    </div>
</div>