<div class="view-page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <input id="search" type="text" placeholder="Entrez votre recherche ..."
            ng-model="filterSearch" typeahead="word for word in allWords | filter:$viewValue:startsWith | limitTo:8">
          <button class="btn btn-lg btn-search" title="Rechercher" ng-click="showNameChanged()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button class="btn btn-lg btn-search" title="Annuler" ng-click="resetFilter(key)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <div class="row">
          Nombre de centres trouvés : {{allCenters.length}}
        </div>
        <div>TODO facettes</div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <ul class="nav nav-tabs">
            <li class="tabTitle active"><a data-target="#tab-list" data-toggle="tab">List</a></li>
            <li class="tabTitle"><a data-target="#tab-map" data-toggle="tab">Map</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="tab-content">
            <div class="tab-pane active" id="tab-list">
              <ng-include src="'views/list.html'"></ng-include>
            </div>
            <div class="tab-pane" id="tab-map">
              <ng-include src="'views/map.html'"></ng-include>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="separation">

    <div id="centerNavigation" class="row">
      <div class="col-md-4">
        <button id="precedentCenter" type="button" class="btn" ng-click="goToCenter(precedentCenter)" ng-if="precedentCenter">
          <span> &lt; </span>
          <span>{{precedentCenter.center.administration['Intitulé']}}</span>
          <span ng-if="precedentCenter.center.administration['Intitulé'] && precedentCenter.center.administration['Sigle ou acronyme']"> - </span>
          <span>{{precedentCenter.center.administration['Sigle ou acronyme']}}</span>
        </button>
      </div>
      <h3 class="col-md-4" style="text-align:center;">
        <span>{{currentCenter.center.administration['Intitulé']}}</span>
        <span ng-if="currentCenter.center.administration['Intitulé'] && currentCenter.center.administration['Sigle ou acronyme']"> - </span>
        <span>{{currentCenter.center.administration['Sigle ou acronyme']}}</span>
      </h3>
      <div class="col-md-4">
        <button id="nextCenter" type="button" class="btn" ng-click="goToCenter(nextCenter)" ng-if="nextCenter">
          <span>{{nextCenter.center.administration['Intitulé']}}</span>
          <span ng-if="nextCenter.center.administration['Intitulé'] && nextCenter.center.administration['Sigle ou acronyme']"> - </span>
          <span>{{nextCenter.center.administration['Sigle ou acronyme']}}</span>
          <span> &gt; </span>
        </button>
      </div>
    </div>

    <hr class="separation">

    <ng-include src="'views/detail.html'"></ng-include>
  </div>
</div>
